body{ background:#fff; font-family:Arial, "Microsoft YaHei", sans-serif; font-weight:normal; color:#333333; font-size:14px;}
body, ul, li, h1, h2, p,dl, dt, dd { margin:0; padding:0;}
a { background-color:transparent; text-decoration:none; color:#333333;cursor:pointer; }
a:focus { outline:0; }
a:hover { outline:0; text-decoration:none;}
button,input { outline:none; font-family:Arial, "Microsoft YaHei", sans-serif; font-size:14px;}
input[type=submit],button{ filter:chroma(color=#000000);}
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0;  }
textarea { resize:none; outline:none; overflow:auto; vertical-align:top; }
table { border-collapse:collapse; border-spacing:0; }
select { cursor:pointer;height:24px;border-radius:4px;font-size:14px;}
input::-ms-clear{display:none;}
/* span{ font-size:19px;color:#1493D1;} */
ul,li{ list-style:none;}
*{box-sizing:border-box;}

.mr15 { margin:15px;padding:0px;}
.abs { position:absolute;}
.red { color:red!important;}
.alc { text-align:center!important;}
.alr { text-align:right!important;}
.dpb { display:block!important;}
.aul a:hover { text-decoration:underline!important; color:red;}
.brk { white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.clr { clear:both;width:100%;font-size:1px;height:1px;line-height:1px;}
.r1 { -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.r2 { -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.r2t { -moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.r2b { -moz-border-radius:0 0 3px 3px; -khtml-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px;}
.pr{ position:relative;}
.fl { float:left;}
.fr { float:right;}
.truncate{word-wrap:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
/*flex布局*/
.row-flex{width:100%;box-sizing:border-box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;display:box;}
.row-flex .col{display:block;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;box-flex:1;}
.flex-align-center{-webkit-box-align:center;}
.col-25{width: 25% }
.col-33{width: 33.3333% }
.col-50{width: 50%}

.nosel {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

.currency_label {
    position:absolute;
    display:block!important;
    text-align:center!important;
    left:3px;
    color:gray;
    width:15px;
    height:28px;
    line-height:28px;
}

.input { display:inline-block; padding:3px 6px; font-size:14px; line-height:120%; height:16px; color:#555555; vertical-align:middle; background-color:#fff; border:1px solid #cccccc; border-radius:0; -webkit-appearance:none; -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;box-sizing: content-box;}
.input:focus { background-color:#fafffe; border-color:#3bb4f2; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3); box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);}
.input::-webkit-input-placeholder{ color:#999999;}
.input::-moz-placeholder { color:#999999;}
.input:-ms-input-placeholder { color:#999999;}
.input::placeholder { color:#999999;}
.input::-moz-placeholder { opacity:1;}
.input.error { border-color:#dd514c !important; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.input.error:focus { background-color:#fafffe; border-color:#cf2d27; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #eda4a2 !important; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #eda4a2 !important;}
.input.success { border-color:#5eb95e !important; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.input.success:focus { background-color:#fafffe; border-color:#459f45; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #a5d8a5 !important; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #a5d8a5 !important;  }
.input.dd { background-image:url(dd.gif); background-repeat:no-repeat; background-position:right center;}
.input[disabled] { background-color:#efefef;}

.btn {
    display:inline-block;
    margin:0;
    padding:4px 8px;
    font-size:14px;
    line-height:120%;
    text-align:center;
    white-space:nowrap;
    border:1px solid transparent;
    border-radius:3px;
    cursor:pointer;
    outline:0;
    -webkit-appearance:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-transition:background-color 300ms ease-out, border-color 300ms ease-out;
    transition:background-color 300ms ease-out, border-color 300ms ease-out;
    *overflow:visible;
}
.btn-big { padding:8px 20px!important; font-size:16px!important;;}
.btn-default { color:#444444; background-color:#e6e6e6; border-color:#e6e6e6;}
.btn-default:hover {color:#000; background-color:#c7c7c7; border-color:#c7c7c7;}
.btn-primary { color:#fff; background-color:#0e90d2; border-color:#0e90d2;}
.btn-primary:hover {color:#000; background-color:#0a6999; border-color:#0a6999;}
/* .btn-secondary { color:#fff; background-color:#3bb4f2; border-color:#3bb4f2;} */
.btn-secondary { color:#fff; background-color:#0e90d2; border-color:#0e90d2;}
.btn-secondary:hover {color:#000; background-color:#0a6999; border-color:#0a6999;}
.btn-red { color:#fff; background-color:#dd514c; border-color:#dd514c;}
.btn-red:hover {color:#000;background-color:#c62b26; border-color:#c62b26;}
.btn-green { color:#fff; background-color:#5eb95e; border-color:#5eb95e;}
.btn-green:hover {color:#000; background-color:#429842; border-color:#429842;}
.msg { position:absolute; z-index:1000; left:3px; top:3px; }
.msg a.fa { position:absolute; right:10px; opacity: 0.6; cursor:pointer; }
.msg a.fa:hover { opacity:1;}
.msg-body { position:relative;padding:10px 30px 10px 10px;}
.msg-alert { color:#fff; background-color:#dd514c; border-color:#d83832; }
.msg-success { color:#fff; background-color:#5eb95e; border-color:#4bad4b; }
.msg-fade { opacity:0; -webkit-transition: opacity .5s linear; transition: opacity .5s linear;}

#header { height:40px; line-height:40px; background:#3297db;font-size:15px;}
#header .logo { color:#deeaf2; padding-left:10px;}
#header .fr { margin-right:10px; position:relative;}
#header .info a { color:#deeaf2; margin-left:10px; }

#leftmenu {width:210px;background-color:#eef1f8;}
#leftmenu .h2 { font-size:15px; height:40px; line-height:40px; margin:0 10px; color:#333;}
.ul1 .li1,.ul1 .li_ext:last-child{border-bottom:solid 1px #fff;}
.ul1 .li1 a,.ul1 .li_ext:last-child a{border-bottom:solid 1px #dde0e6;}
.ul1 .li1 div { padding-left:15px;}
.ul1 .li1.active {background-color:#0e83b9;border-bottom:0;}
.ul1 .li1.active a{color:#fff;border-bottom:0;}
.ul1 a { display:block; line-height:40px; color:#484848; font-size:15px;}
.ul1 a.focus,.ul1 a:hover { background-color:#2081b8; color:#fff;}
.ul1 .li_ext{ display:none;border-bottom:0;background-color:#e1e4ea;}
.ul1 .li_ext a { padding-left:10px;border-bottom:0;}
.ul1 .nav21 { background:url(nav21.png) no-repeat right center; }
.ul1 .nav31 { background:url(nav31.png) no-repeat right center; }
.ul1 .nav32 { background:url(nav32.png) no-repeat right center; }
.ul1 .focus .nav21,.ul1 a:hover .nav21{ background:url(nav22.png) no-repeat right center; }
.ul1 .li_ext.focus,.ul1 .li_ext:hover{background:none;}
.ul1 .li_ext.focus a{background:#fff; color:#2081b8;}
.ul1 .li_ext a:hover{background:#eef1f8; color:#2081b8;}

.tab { height:28px; position:relative;}
.tab ul.items { position:absolute;}
.tab li { float:left; background-color:#e1e4ea; height:28px; line-height:25px; font-size:15px; margin-left:8px; white-space:nowrap; padding:2px 8px; cursor:pointer;border-radius:5px 5px 0 0; border:solid 1px #dedede; border-bottom:0;font-weight: 600;color:#484848;}
.tab li.focus { background-color:#fff; height:30px; border:solid 1px #d3d3d3; /* border-bottom:solid 1px #e6f0f9; */border-bottom: solid 2px #fff;color:#2081b8;font-weight: 600}
.tab li a{color:#7e7e7e;}
.tab li.focus a{color:#2081BB}
.tab-line { border-top:solid 1px #d3d3d3; border-bottom:solid 1px #d3d3d3; background-color:#e6f0f9; height:2px; font-size:1px; line-height:1px;}

.navtxt { background:#e6f0f9; height:38px; padding-right:8px; border-left:solid 1px #d3d3d3; border-right:solid 1px #d3d3d3; border-top:solid 1px #d3d3d3; }
.navtxt div.txt { white-space:nowrap; font-size:15px; height:37px; line-height:37px; padding:0 18px 0 10px; color:#7e7e7e;font-weight:600;}
.navtxt div.fr { margin-top:5px;}
.navtxt div.fr .btn { float:right; margin-right:5px;}
.showtxt { border:solid 1px #dfe0e1; padding:20px; position:relative;}
.rmktxt { border:solid 1px #dfe0e1; padding:5px; background-color:#efefef; margin-top:5px;}

.list1 { border:solid 1px #d3d3d3; color:#000;border-collapse:collapse;}
.list1 th { padding:4px 5px; background-color:#f6fbfe; border:solid 1px #d3d3d3; text-align:center; font-weight:600;color:#7e7e7e;}
.list1 td { padding:4px 5px; background-color:#fff; border-bottom:solid 1px #d3d3d3;border-right:solid 1px #d3d3d3; }
.list1 tr:hover>td { background-color:#ffd;}
.list1 tr.ext>td { background-color:#fff!important;}
.list1 td.focus { background-color:lightyellow;}
.list1 td.ext { border-right:0;background-color:#fff!important;}
.list1 td.fff { background-color:#fff!important;}
.list1 .center{ text-align:center;}
.list1 .point { cursor:pointer;}
.list1 .ipt01 div { position:relative; margin-top:-1px;}
.list1 .ipt01 label { margin-left:-18px; line-height:120%; color:gray;}
.list1.inner { border:0;}
.list1.inner th { border-top:0; border-left:0;}
.nolist td { padding:4px!important; border:0!important;background-color:#fff!important; }

.form1 li.row { padding:8px 0 8px 105px; display:block; }
.form1 li.row>span { position:absolute; font-size:14px; font-weight:bold; text-align:right; margin-left:-105px; display:block; width:90px;}
.form1 li.row>label { display:inline-block;}
.form1 input[type=checkbox] { width:16px; height:16px;}
.form1 .input { padding:6px 8px!important;}
.form1 .cell { margin-bottom:5px; position:relative;}
.form1 .cell i { position:absolute; display:block; top:1px; left:1px; background-color:#e6e6e6; width:70px; height:32px; padding-left:8px; line-height:32px; font-style:normal;}
.form1 .cell input { padding-left:85px!important;}

.form2 { border-left:solid 1px #dfe0e1; border-bottom:solid 1px #dfe0e1;border-collapse: collapse;}
.form2 th.cell { font-size:14px; padding:8px 20px; border-top:solid 1px #dfe0e1; border-right:solid 1px #dfe0e1; background-color:#f2f2f2!important; text-align:left; font-weight:normal;}
.form2 td.cell { padding:8px 20px; border-top:solid 1px #dfe0e1;border-right:solid 1px #dfe0e1; background-color:#fff!important;text-align:center;}
.form2 th.cell60 { width:60px!important;}
.form2 th.cell80 { width:80px!important;}
.form2 th.cell90 { width:90px!important;}
.form2.inner { border:0;}
.form2.inner th.cell { border-left:0;}
.form2.inner td.cell { border-right:0;}

.form3 {border-bottom:solid 1px #008acd;border-collapse: collapse;}
.form3 th.cell { border-left:solid 1px #008acd; padding:8px 10px; border-top:solid 1px #008acd; border-right:solid 1px #008acd; background-color:#f2f2f2!important; text-align:center; font-weight:normal;}
.form3 td.cell { padding:8px 10px; border-top:solid 1px #008acd;border-right:solid 1px #008acd; background-color:#fff!important;text-align:center;}

.group_input { position:relative;}
.group_input .name { position:absolute; display:block; top:1px; left:1px; background-color:#e6e6e6; width:70px; height:26px; line-height:26px; padding-left:8px; font-style:normal;}
.group_input .name ~ .input { padding-left:85px!important;}
.group_input .check { /*margin-top: 3px; */position:absolute;display:block; top:1px; left:1px; background-color:#e6e6e6; width:18px; height:32px; line-height:32px; font-size:110%; padding-left:5px; cursor:pointer;}
.group_input .check ~ .input { padding-left:30px!important;}
.group_input .note { position:absolute; display:block; top:1px; right:5px; line-height:26px; color:gray;}
.group_input .name .check { position:static; display:inline-block; height:31px!important;line-height:31px!important; margin-left:-5px;}
.form1 .group_input .name { height:32px;line-height:32px;}
.form1 .group_input .note { line-height:32px;}

#dropdown { border:solid 1px #999;position:absolute;padding:0!important;background-color:#fff!important;overflow:auto;left:0;z-index:9999;text-align:center;border-radius:4px;}
#dropdown a.opt{ display:block; padding:8px 5px; border-bottom:solid 1px #d3d3d3; cursor:pointer;}
#dropdown a.opt:hover { background-color:#ffd;}
#dropdown a.blc { display:block; cursor:pointer; width:20px; height:20px; margin:5px; float:left;}
#dropdown a.rgn { display:block; cursor:pointer; width:70px; height:20px; margin:5px; float:left;}
#dropdown a.time { display:block; cursor:pointer; width:40px; height:20px; margin:5px; float:left;}
#dropdown a.list { display:block; cursor:pointer; height:20px; margin:5px; float:left;}
#dropdown div.blc { height:20px; margin:5px; float:left; }
#pager { background-color:#fafafa; height:45px; border-left:solid 1px #d3d3d3; border-right:solid 1px #d3d3d3; border-bottom:solid 1px #d3d3d3; position:relative; }
#pager.inner {  border-right:0; border-left:0; margin-bottom:-1px;}
.pager { height:30px; float: right; margin:8px 10px 0 0;}
.pager a { display:block; height:25px; line-height:25px; padding:0 9px; border:solid 1px #dddddd; margin-right:-1px; background-color:#fff; float:left;}
.pager a.focus { background-color:#267fbd; border:solid 1px #1e6392; margin-right:0; color:#fff;}
.pager li { float:left;}

.imgbox a,.attbox a { display:none; position:absolute; background-color:#D3310F; font-weight:bold; width:16px; height:16px; padding:0; margin:0; line-height:16px; text-align:center; cursor:pointer; }
.imgbox div,.attbox div { margin-bottom:3px; border:1px solid; -moz-box-shadow:0 1px #e7e7e7; -webkit-box-shadow:0 1px #e7e7e7; border-color:#CCC #BBB #AAA;}
.imgbox div.loading,.attbox div.loading { width:20px; height:20px; background:url(loading.gif) no-repeat center; border:0;}
.imgbox div{ float:left; margin-right:10px;}
.imgbox div.loading { position:absolute;}
.imgbox img { height:70px; cursor:pointer;}
.attbox div { height:22px; line-height:22px; width:650px;}
.attbox div.loading { float:left;}

.blockUI { position:fixed; top:0; right:0; bottom:0; left:0; display:block; width:100%; height:100%; background-color:rgba(0,0,0,.6); z-index:1100; opacity:1;}
.popup { position:absolute; display:block; z-index:1111; width:100%; top:30%;}
.popup .wrap { width:360px; background-color:#fff; margin:0 auto; position:relative;}
.popup .head { height:45px; line-height:45px; background-color:#0a6999; color:#fff; padding-left:8px; position:relative;}
.popup .txt { padding:20px 30px; text-align:left; word-wrap: break-word;}
.popup .btns { width:100%; padding:0 0 15px 0; text-align:center;}
.popup .fa-close { color:#fff; position:absolute; top:15px; right:15px; font-size:120%; cursor:pointer; opacity:0.8;}
.popup .fa-close:hover { color:red;-moz-transform:scale(-1,1);}
.popup .fa-warning { color:#c62b26; margin-right:8px;}
.popup .fa-info-circle { color:#429842; margin-right:8px;}
.popup .fa-question-circle { color:#f37b1d; margin-right:8px;}

.uploader-imgs div { float:left; margin-right:8px; position:relative;}
.uploader-imgs img { border:solid 1px #ccc; height:100px; width:auto;}
.uploader-imgs p { position:absolute; font-size:14px; top:1px; right:1px; margin:0; padding:3px 5px; background-color:#3bb4f2; color:#fff;}
.uploader-imgs a { position:absolute; font-size:17px; top:1px; right:1px; margin:0; padding:0 5px; background-color:#3bb4f2; color:#fff;cursor:pointer;}
.uploader-atts div { margin:0 0 8px 0; position:relative;}
.uploader-atts label { line-height:120%;}
.uploader-atts p { position:absolute; font-size:14px; top:1px; left:1px; margin:0; padding:3px 5px; background-color:#3bb4f2; color:#fff;}
.uploader-atts a { font-size:17px; margin:0 8px 0 0; padding:0 5px; background-color:#e6e6e6; color:red;cursor:pointer;}
.uploader-btn { clear:both;}

.uploader-imgs div { float:left; margin-right:8px; position:relative;}
.uploader-imgs img { border:solid 1px #ccc; height:100px; width:auto;}
.uploader-imgs p { position:absolute; font-size:14px; top:1px; right:1px; margin:0; padding:3px 5px; background-color:#3bb4f2; color:#fff;}
.uploader-imgs a { position:absolute; font-size:17px; top:1px; right:1px; margin:0; padding:0 5px; background-color:#3bb4f2; color:#fff;cursor:pointer;}
.uploader-atts div { margin:0 0 8px 0; position:relative;}
.uploader-atts label { line-height:120%;}
.uploader-atts p { position:absolute; font-size:14px; top:1px; left:1px; margin:0; padding:3px 5px; background-color:#3bb4f2; color:#fff;}
.uploader-atts a { font-size:17px; margin:0 8px 0 0; padding:0 5px; background-color:#e6e6e6; color:red;cursor:pointer;}
.uploader-btn { clear:both;}

.context { position:absolute; display:none; z-index:999;}
.context ul { width:110px; border:solid 1px #999; background-color:#fff!important;z-index:9999;}
.context li { padding:5px 10px; border-bottom:solid 1px #d3d3d3; cursor:pointer; position:relative;}
.context li label { cursor:pointer;}
.context li:hover { background-color:lightyellow;}
.context li:hover>ul { display:block;}
.context li.rr { background-image:url(rr.gif); background-position:right center; background-repeat:no-repeat;}
.context li>ul { display:none; position:absolute; top:-1px; right:-112px;}

.cmenu { position:relative;}
.cmenu a { float:left;}
.cmenu a.dd { display:block; width:15px; height:19px; background-image:url(dd.gif); background-repeat:no-repeat; background-position:3px center; cursor:pointer;}

.spview { width:430px; margin-right:20px;}
.spview dt { padding:8px 10px; background-color:#e6f0f9; border:solid 1px #dfe0e1;}
.spview dt span { cursor:pointer;}
.spview dd { border:solid 1px #dfe0e1; border-top:0;}
.spview dd.url{ padding:8px 3px;}

.public{position:relative;width:100%;padding:0 10px;height:36px;overflow:hidden;background-color:#eef1f8;}
.public ul{padding-left:24px;}
.public i{position:absolute;top:0;left:10px;font-size:20px;line-height:36px;margin-right:6px;}
.public a{display:block;color:#484848;line-height:36px;}

.title{font-size:15px;color:#484848;line-height:22px;}
.title i{display:inline-block;margin-right:6px;font-size:15px;}

.base{margin:0 28px;}
.base .title1{margin-top:20px;margin-bottom:16px;font-size:20px;color:#484848;}
.base .title1 i{width:22px;height:22px;line-height:22px;font-size:10px;text-align:center;color:#fff;background-color:#61aeef;border-radius:50%;vertical-align:top;}

.base .data1{margin-bottom:18px;}
.base .data1 li{box-sizing:border-box;height:104px;padding-top:24px;margin-right:16px;color:#fff;text-align:center;border-radius:4px;font-size:16px;}
.base .data1 li:nth-of-type(1){background-color:#f88a6f;}
.base .data1 li:nth-of-type(2){background-color:#f7b547;}
.base .data1 li:nth-of-type(3){background-color:#30c989;}
.base .data1 li:nth-of-type(4){background-color:#52a2e6;}

.base .data1 a{box-sizing:border-box;height:104px;padding-top:24px;margin-right:16px;color:#fff;text-align:center;border-radius:4px;font-size:16px;}
.base .data1 a:nth-of-type(1){background-color:#f88a6f;}
.base .data1 a:nth-of-type(2){background-color:#f7b547;}
.base .data1 a:nth-of-type(3){background-color:#30c989;}
.base .data1 a:nth-of-type(4){background-color:#52a2e6;}



.base .data1 li:last-child{margin-right:0;}
.base .data1 b{font-size:28px;font-weight:400;}
.base .data2,.base .data3{border:1px solid #eae9ea;border-radius:4px;font-size:20px;color:#525154;}
.base .data2{margin-right:18px;padding:10px 20px 0 20px;line-height:44px;}
.base .data2 p{width:152px;font-size:16px;}
.base .data2 span{display:block;width:100px;}
.base .data3{width:394px;height:200px;padding:20px;}
.base .data3 .title{line-height:1em;font-size:16px;}
.base .data3 .days{margin:20px 0 0 80px;}
.base .data3 .circle-text-half{line-height:180px!important;}
.base .data2 .progress{margin-top:14px;}

.progress{position:relative;width:100%;border-radius:20px;height:12px;background-color:#ececec;overflow:hidden;}
.progress .val{position:absolute;top:0;left:0;height:12px;background-color:#61aeef;animation:progress 1s linear both;-webkit-animation:progress 1s linear both;}
@-webkit-keyframes progress{0%{width:0;}}
@keyframes progress{0%{width:0;}}

.circliful{position:relative}
.circle-info,.circle-info-half,.circle-text,.circle-text-half{width:100%;position:absolute;text-align:center;display:inline-block}
.circle-info,.circle-info-half{color:#999}

.wrap{margin-top:18px;}
.wrap .col.con{height:470px;border:1px solid #eae9ea;border-radius:4px;font-size:16px;color:#0d0b10;margin-right:18px;overflow:hidden;}
.wrap .con:last-child{margin-right:0;}
.wrap .title{padding:0 18px;line-height:46px;background-color:#eef1f8;color:#2081b8;border-top-left-radius:4px;border-top-right-radius:4px;}
.wrap .title a{color:#2081b8;line-height:46px;}
.wrap  ul{padding:0 18px;}
.wrap .col{margin-right:10px;}
.wrap .datas{color:#666;text-align:right;font-size:18px;}
.wrap .datas i{margin-left:6px;}
.wrap .green{color:#2ccd70;}
.wrap .blue{color:#52a2e6;}
.wrap .red{color:#f88a6f!important;}
.wrap .red .icon-top:before,.wrap .red.icon-top:before{content:'\e61e';}
.wrap .datas1{color:#fff;width:77px;height:24px;border-radius:40px;font-size:18px;text-align:center;line-height:24px;}
.wrap .datas1 em{font-size:10px;font-style:normal;}
.wrap .datas1.green{background-color:#2ccd70;}
.wrap .datas1.red{background-color:#f88a6f;color:#fff!important;}
.wrap .ul1{margin-top:8px;line-height:50px;}
.wrap .ul1 i{font-size:14px;vertical-align:middle;}
.wrap .ul2 li:first-child{margin-top:16px;}
.wrap .ul2 li{margin-top:22px;}
.wrap .ul2 i{font-size:12px;vertical-align:middle;}
.wrap .ul2 .p2{font-size:12px;color:#666;}
.wrap .ul2 .p3{font-size:12px;}
.wrap .ul3{margin-top:8px;line-height:30px;}
.wrap .ul3 li{margin-top:24px;}
.wrap .ul3 .p1{line-height:24px;}
.wrap .ul3 .p2{font-size:12px;color:#666;}
.wrap .ul4{padding:0;line-height:35px;}
.wrap .ul4 li{padding:0 18px;margin-top:15px;}
.wrap .ul4 li:first-child{margin-top:14px;}
.wrap .ul4 li:last-child{margin-top:8px;}
.wrap .ul4 .row1{background-color:#f4f6fa;padding:5px 18px;margin-top:8px;}
.wrap .row1 .row-flex{padding-left:34px;}
.wrap .row1 p{line-height:30px;}
.wrap .ul5{margin-top:15px;}
.wrap .ul5 li{position:relative;height:190px;padding-top:18px;}
.wrap .num1,.wrap .num2{position:absolute;line-height:20px;font-size:18px;}
.wrap .num1{left:106px;top:16px;}
.wrap .num2{left:12px;top:134px;}
.wrap .text{margin-top:36px;width:178px;line-height:30px;}
.wrap .text i{font-size:12px;margin-right:6px;}
.wrap .text span{color:#2ccd70;font-size:14px;line-height:30px;}
.wrap .ul6{margin-top:24px;}
.wrap .ul6 li{margin-bottom:26px;}
.wrap .ul6 p{line-height:60px;}
.wrap .ul6 span{color:#666;font-size:18px;}

.jOrgChart .line{height:15px;width:3px}
.jOrgChart .down{background-color:#E4E4E4;margin:0 auto}
.jOrgChart .top{border-top:3px solid #E4E4E4}
.jOrgChart .left{border-right:3px solid #E4E4E4}
.jOrgChart .right{border-left:3px solid #E4E4E4}
.jOrgChart td{text-align:center;vertical-align:top;padding:0}
.jOrgChart .node{background-color:#E4E4E4;display:inline-block;width:160px;height:50px;line-height:36px;z-index:10;margin:0 6px;font-size:14px;border-radius:4px;border:5px solid transparent;color:#F38630;-moz-border-radius:4px;color:#888;}
.jOrgChart .node a{color:#999;}
.drag-active{border-style:dotted!important}
.drop-hover{border-style:solid!important;border-color:#E05E00!important}
.jOrgChart{margin:10px;padding:20px}
.jOrgChart .progress{height:5px;}
.jOrgChart .val{height:5px;background-color:#BCC2C5;}
.jOrgChart .lines{position:absolute;border-top:3px solid #E4E4E4;width:14px;height:30px;margin-left:-8px;  margin-top: 23px;}
.jOrgChart .level1>tbody>tr:last-child .lines{border-left:3px solid #fff;}
.jOrgChart .level0>tbody>tr:first-child .node{width:180px;}
/*.jOrgChart .node_001,.jOrgChart .node_004{background-color:#85CCFF;}
.jOrgChart .node_001 a,.jOrgChart .node_004 a{color:#fff;}
.jOrgChart .node_001 a .val,.jOrgChart .node_004 a .val{background-color:#3297db;}*/
.jOrgChart [class*=node_0]{background-color:#85CCFF;}
.jOrgChart [class*=node_0] a{color:#555;}
.jOrgChart [class*=node_0] a .val{background-color:#3297db;}

.login-h,.entry .main,.login-f{width:1000px;margin:0 auto;}
.login-h .logo{margin-top:20px;margin-bottom:16px;height:40px;background:url("logo.png") no-repeat 0 0;background-size:auto 40px;}
.login-h p{font-size:16px;color:#5c5c5c;line-height:40px;}
.entry{height:534px;background:url("login_b.png") no-repeat 0 center;}
.entry .main .fl{width:380px;height:380px;background:url("l-l.png") no-repeat 0 0;background-size:100%;margin-top:50px;}
.entry .login-box{margin-left:60px;width:384px;margin-top:95px;background-color:#fff;border-radius:4px;}
.entry .caption{font-size:18px;line-height:60px;color:#242424;border-bottom:1px solid #cacaca;padding-left:20px;}
.saoma{position:relative;width:60px;height:60px;z-index:999;}
.saoma i{position:absolute;top:1px;left:0;font-size:60px;z-index:1}
.saoma .icon-s{color:#fff;cursor:pointer;}
.code-box{display:none;position:absolute;top:0;left:-320px;width:364px;height:335px;background-color:#fff;}
.code-box p{line-height:60px;color:#242424;border-bottom:1px solid #cacaca;padding-left:20px;}
.code-box img{width:200px;height:200px;margin-left:85px;margin-top:35px;}
.entry .box{width:100%;padding:50px 64px;}
.entry .text{width:100%;margin-bottom:22px;position:relative}
.entry .text input,.entry .btns button{width:100%;height:38px;line-height:38px;border-radius:4px;}
.entry .text input{border:1px solid #ddd;padding-left:36px;}
.entry .text i{position:absolute;top:0;left:0;display:block;width:36px;line-height:38px;text-align:center;color:#999;}
.entry .btns{width:100%;margin-bottom:16px;}
.entry .btns button{text-align:center;color:#fff;background-color:#3297db;border:0;cursor:pointer;}
.entry .btns button:hover{background-color:#1c87d0;transition:all .3s ease-in-out;}
.entry .text input:focus{border:1px solid #1c87d0;box-shadow:0 1px 2px rgba(28,135,208,.5);transition:all .3s ease-in-out;}
.login-f{padding-top:16px;text-align:center;}
.login-f .p2{color:#999;line-height:30px;}

.table .circle{display:inline-block;width:8px;height:8px;background-color:#2ec7c9;border-radius:8px;margin-right:4px;}
.table tr:nth-child(4n+2) .circle{background-color:#2ec7c9;}
.table tr:nth-child(4n+3) .circle{background-color:#b6a2de;}
.table tr:nth-child(4n+4) .circle{background-color:#5ab1ef;}
.table tr:nth-child(4n+5) .circle{background-color:#ffb980;}

.chk1 {color:#3bb4f2}
.chk2 {color:gray}

.num-inp input{    
	padding-right: 5px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #aaa;
    margin: 0 5px;
    }
.txt_inp{
	height:24px;
	border: 1px solid #cccccc;
	border-radius:4px;
}
.txt_inp:focus{
	border-color:#66afe9;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/* table选项卡标题 */
.tab_opt_title{margin-top:15px;margin-left:15px;}
.tab_opt_hr{height:2px;border:1px solid #d3d3d3;border-bottom:0px;background: #e6f0f9;margin-left:15px;margin-bottom:20px;}
.tab_opt_title li:first-child{margin-left:0px;}

/* table的页面标题 */
.tab_title{color:#2081BB;font-weight:600;font-size:15px;}

/* table的表头标题 */
.tab_form_title{color:#7e7e7e;font-size:15px;font-weight:600;}

/* 质安页table选项卡 */
.mass_list li{width:110px;text-align:center;}

/* 批量操作按钮样式 */
#dLabel{
	height: 26px;
    padding: 0 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #0e90d2;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
#dLabel:hover {
    background-color: #bdc3c7;
    border: 1px solid #ecf0f1;
}

.in-block{display:inline-block;font-weight:normal;}




