<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/easyui.css"/>
    <style>
        div.layout {padding: 5px;width:690px;}
        div.layout > div { float: left; height: 330px; }
        div.layout:after { content: ""; display: block; clear: both; }
        div.layout-right { width:480px; border: 1px solid #A9A9A9;border-left:none;overflow: auto ;padding: 10px}
        div.layout-left { width: 187px; border:1px solid #A9A9A9; overflow-x:hidden}
        dl { margin-top: 0; margin-bottom: 0; }
        span.tree-title{width:115px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden}
        table{border: 1px solid black ;border-collapse:collapse;width: 100%;}
        tr{border: 1px solid black }
        tr:hover{background:yellowgreen }
        td{padding:5px;border: 1px solid black;text-align: center }
        caption{padding:0;height: 30px;font-weight: bolder}
    </style>
</head>
<body>
<div class="layout">
    <div class="layout-left">
        <ul id="menu_tree" >

        </ul>
    </div>
    <div class="layout-right">
        <!--<table> <tr> <td rowspan="2">月份/科室</td> <td colspan="2">C T室</td> <td colspan="2">放 射 科</td> <td colspan="2">B 超 室</td> <td colspan="2">输 血 科</td> </tr> <tr> <td>检查数</td> <td>阳性率%</td> <td>检查数</td> <td>阳性率%</td> <td>检查数</td> <td>阳性率%</td> <td>输血数</td> <td>适应症%</td> </tr> <tr> <td>1</td> <td>1195</td> <td>77.4</td> <td>1426</td> <td>39.1</td> <td>1972</td> <td>79.3</td> <td>115</td> <td>100</td> </tr> <tr> <td>2</td> <td>1071</td> <td>79.4</td> <td>1137</td> <td>58.5</td> <td>1416</td> <td>72.3</td> <td>95</td> <td>100</td> </tr> <tr> <td>3</td> <td>1326</td> <td>78.3</td> <td>1802</td> <td>57.9</td> <td>2105</td> <td>73.68</td> <td>160</td> <td>100</td> </tr> </table>-->
    </div>
</div>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/echarts/echarts.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../resources/websql/websql.js"></script>
<script>
    var $layoutRight=$(".layout-right");
    var is_chat=-1;
    var Arr=[{"children":[
        {"text":"图形","id":"@1","children":[
            {"text":"科室督察结果","id":"#1"},
            {"text":"一线城市医疗指数","id":"#2"},
            {"text":"各大传染病发病率","id":"#3"},
            {"text":"重返手术人数","id":"#4"}
        ]},
        {"text":"表格","id":"@2","children":[
        ]}
    ],"text":"图形与报表","id":"-1"
    }];
    webSql.searchTitle("tables").then(function (data) {
        console.log(data.data);
       var resultArr= Array.prototype.slice.call(data.data);
       Arr[0].children[1].children=resultArr;
        /*文档树生成*/
        $("#menu_tree").tree({
            data:Arr,
            animate:true,
            onLoadSuccess:function () {
                var $title=$("span.tree-title");
                $title.prop("data-toggle","tooltip");
                var olength= $title.length;
                for (var i = 0; i < olength; i++) {
                    var tip= $title[i].innerHTML;
                    $title.eq(i).prop("title",tip);
                }

                /*$("span.tree-title").tooltip({
                 animation:true,
                 placement:"left",
                 title:"我是谁"
                 }); */
                $title.tooltip();
            },
            onClick:function (node) {
                if(node.children){
                    return;
                }else{
                    is_chat=$(node.target).parent().parent().siblings().find(".tree-title").html();
                    switch (is_chat){
                        case "表格":
                            webSql.searchSinge("tables",node.text).then(function (data) {
                               var obj=data.data[0];
                                console.log(obj);
                                if(obj.type==1){
                                    var tabHead="",_zb="",content="";
                                var zb=obj.zb.split(",");
                                var _data=obj.data.split(",");
                                var leg=zb.length;
                                /*表头*/
                                for (var i = 0; i <leg; i++) {
                                    tabHead+="<td>" +zb[i]+"</td>";
                                }
                                tabHead="<tr><td>"+obj.x_wd+"/指标</td>"+tabHead+"</tr>";
                                 /*表内容*/
                                 for (var i = 0; i < _data[0]; i++) {
                                     var _row=i+parseInt(_data[1]);
                                     _zb="";
                                     for (var j =0; j <leg; j++) {
                                     _zb+="<td>" +parseInt(Math.random()*200)+"</td>";
                                     }
                                     content+="<tr><td>"+_row+"</td>"+_zb+"</tr>";
                                     }
                                 var cap="<caption>科室:"+obj.y_wd+"</caption>";

                                 $(".layout-right").html("<table>"+cap+tabHead+content+"</table>");
                                }else{
                                    $(".layout-right").html("<table>"+obj.data+"</table>");

                                }
                            });




                            var str='<table> <tr> <td rowspan="2">月份/科室</td> <td colspan="2">C T室</td> <td colspan="2">放 射 科</td> <td colspan="2">B 超 室</td> <td colspan="2">输 血 科</td> </tr> <tr> <td>检查数</td> <td>阳性率%</td> <td>检查数</td> <td>阳性率%</td> <td>检查数</td> <td>阳性率%</td> <td>输血数</td> <td>适应症%</td> </tr> <tr> <td>1</td> <td>1195</td> <td>77.4</td> <td>1426</td> <td>39.1</td> <td>1972</td> <td>79.3</td> <td>115</td> <td>100</td> </tr> <tr> <td>2</td> <td>1071</td> <td>79.4</td> <td>1137</td> <td>58.5</td> <td>1416</td> <td>72.3</td> <td>95</td> <td>100</td> </tr> <tr> <td>3</td> <td>1326</td> <td>78.3</td> <td>1802</td> <td>57.9</td> <td>2105</td> <td>73.68</td> <td>160</td> <td>100</td> </tr> </table>';
                            $layoutRight.html(str);
                            break;
                        default:
                            $layoutRight.html("<div id='chat' style='width: 100%;height: 100%;'></div>");
                            var baroption = {
                                //标题
                                title: {
                                    text: '科室督查结果'
                                },
                                grid:{left:'15%'},
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    top:'bottom',
                                    //数据
                                    data:['1月','2月','3月']
                                },
                                //工具箱
                                toolbox: {
                                    show: true,
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: false
                                        },
                                        dataView: {readOnly: false},
                                        magicType: {type: ['line', 'bar']},
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                //横坐标
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: true,
                                    data:['C T室','放 射 科','B 超 室','输 血 科']
//			//坐标轴类型，value数据，category类型，time时间，
//			type: 'category',
//			//起点和重点数据是否定格，是否留白
//			boundaryGap: true,
//			//数据
//			data: ['周一','周二','周三','周四','周五','周六','周日','周一','周二','周三','周四','周五','周六','周日']
                                },
                                //纵坐标
                                yAxis: {

                                    type: 'value',
                                    axisLabel: {
                                        formatter: '{value}次'
                                    }


//			type: 'value',
//			//纵坐标显示标签
//			axisLabel: {
//				formatter: '{value} °C'
//			}
                                },
                                series:[
                                    //准备添加的数据
                                    {
                                        name:'1月',
                                        //折线图
                                        type:'bar',
                                        //数据
                                        data:[1195,1426,1972,115]
                                    },
                                    {
                                        name:'2月',
                                        type:'bar',
                                        //数据
                                        data:[1071,1137,1416,95]
                                    },
                                    {
                                        name:'3月',
                                        type:'bar',
                                        data:[1362,1802,2105,160]
                                    }
                                ]
                            };
                            var $chat=$("#chat")[0];
                            var myChart = echarts.init($chat);
                            myChart.setOption(baroption);
                            break;
                    }

                }
            }
        });
    });
    function CreatChat() {
        var $chat=$("#chats")[0];
        this.myChart = echarts.init($chat);
        this.myChart.setOption(pieoption);
    }
    function creatView() {

    }

</script>
<script>
   /* var pieoption = {
        title : {
            text: '各科室10月的支出饼状图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['院办公室','信息科','财务科','总务科','医务科']
        },
        series : [
            {
                name: '科室',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'院办公室'},
                    {value:310, name:'信息科'},
                    {value:234, name:'财务科'},
                    {value:135, name:'总务科'},
                    {value:1548, name:'医务科'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    var $chat=$("#chats")[0];
    var myChart = echarts.init($chat);
    myChart.setOption(pieoption);*/
</script>
</body>
</html>