<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>医疗质控报告</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="../../resources/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/lib/awe/awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/font/iconfont.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/iconfont.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/image/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/easyui.css">
    <style>
        #menuBar:after{content:".";display: block; height: 0; clear: both}
        #header:after{content:".";display: block; height: 0; clear: both}
    </style>
</head>
<body >
<ul id="header" class="nosel" style="width:100%;background:#24BAFF url('../../resources/image/LOGO_RT.png') no-repeat">
    <li class="logo fl"><img src="../../resources/image/LOGO2.png"/></li>
    <li class="fl LOGO_TXT">
        <span id="logo_title">医疗质控报告</span>
    </li>
    <li class="fl LOGO_subhead">
        <span id="version" style="color:#fff;position:relative;top:10px;font-size:16px;"></span>
    </li>
    <li id="fr_a" style="text-align:right;padding-right:10px;">
        <div class="info">
            <div style="display:inline-block;margin-right:25px;">
                <div class="start_panel">
                    <div class="panel_btn ">
                        <a class="txt_blue" id="_name" title="点击我"><i class="fa fa-user"></i> demo</a>
                    </div>
                    <div id="_name_panel" class="panel_div" style="width:95px;left:-12px;">
                        <i class="ico_up"></i>
                        <div class="menu_a">
                            <a onclick="mine()" title="修改密码">修改密码</a>
                            <a href="#" onclick="" title="退出系统">退出系统</a>
                        </div>
                    </div>
                </div>
                <div class="start_panel" id="system_settings">
                    <div class="panel_btn">
                        <a class="txt_blue" id="_system" title="点击我"><i class="icon-xinxiguanli"></i> 系统设置</a>
                    </div>
                    <div id="_system_panel" class="panel_div" style="width:125px;left:-12px;">
                        <i class="ico_up"></i>
                        <div>
                            <a class="menu_btn"><span>系统管理</span><i class="ico_arrows"></i></a>
                            <ul class="menu_ul menu_a">
                                <li><a class="base" id="1001">基本设置</a></li>
                                <li><a class="base" id="1002">公告管理</a></li>
                            </ul>
                        </div>
                        <div>
                            <a class="menu_btn"><span>权限管理</span><i class="ico_arrows"></i></a>
                            <ul class="menu_ul menu_a">
                                <li><a class="base" id="1004">用户管理</a></li>
                                <li><a class="base" id="1005">部门管理</a></li>
                                <li><a class="base" id="1006">角色管理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

</ul>
<div id="#menuBar" style="width: 100%;height:400px;border: 1px solid red;">
    <div id="leftmenu" style="float:left;width:250px;height:100%;max-width: 250px;background: #eef1f8;overflow: hidden" >
        <ul id="menu_UL">
            <li>
                <div class="div_m focus_div" id="dul1100">
                    <a class="a_m" ><i class="icon-jiance6"></i> <span>医疗质控报告</span></a><b onclick="nav(this)"><i class="fa fa-chevron-up"></i></b>
                </div>
                <ul id="ul1100" class="ul_m">
                    <li id="li1110" class="li_m review focus_li"><a id="link_1110" onclick="navto(this, event, 'list.html')"><i class="fa fa-circle"></i><span>质控报告清单</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1120" class="li_m review">
                        <a id="link_1120" onclick="navto(this, event, 'catalogue.html')"><i class="fa fa-circle"></i><span>目录样式</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1121" class="li_m review">
                        <a id="link_1121"  onclick="navto(this, event,'model.html')"><i class="fa fa-circle"></i><span>模版变量设置</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="div_m " id="dul1101">
                    <a class="a_m" ><i class="icon-fenxi5"></i> <span>图形分析</span></a><b onclick="nav(this)"><i class="fa fa-chevron-up"></i></b>
                </div>
                <ul id="ul1101" class="ul_m">
                    <li id="li1125" class="li_m review">
                        <a id="link_1125"  onclick="navto(this, event,'updata_manager.html')"><i class="fa fa-circle"></i><span>上传数据管理</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1126" class="li_m review">
                        <a id="link_1126"  onclick="navto(this, event,'table_edit.html')"><i class="fa fa-circle"></i><span>表格创建编辑</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1127" class="li_m review chats">
                        <a id="link_1127"  onclick="navto(this, event,'../charts_edit/pie_edit.html')"><i class="fa fa-circle"></i><span>饼状图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1128" class="li_m review chats">
                        <a id="link_1128"  onclick="navto(this, event,'../charts_edit/table_edit.html')"><i class="fa fa-circle"></i><span>面积图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1129" class="li_m review chats">
                        <a id="link_1129"  onclick="navto(this, event,'../charts_edit/funnel-edit.html')"><i class="fa fa-circle"></i><span>散点图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1130" class="li_m review chats">
                        <a id="link_1130"  onclick="navto(this, event,'../charts_edit/multip_edit.html')"><i class="fa fa-circle"></i><span>多轴图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1131" class="li_m review chats">
                        <a id="link_1131"  onclick="navto(this, event,'../charts_edit/area_edit.html')"><i class="fa fa-circle"></i><span>折线图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1132" class="li_m review chats">
                        <a id="link_1132"  onclick="navto(this, event,'../charts_edit/bar_edit.html')"><i class="fa fa-circle"></i><span>柱状图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1133" class="li_m review chats">
                        <a id="link_1133"  onclick="navto(this, event,'../charts_edit/radar_edit.html')"><i class="fa fa-circle"></i><span>雷达图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                    <li id="li1134" class="li_m review chats">
                        <a id="link_1134"  onclick="navto(this, event,'../charts_edit/scatter_edit.html')"><i class="fa fa-circle"></i><span>漏斗图</span><b><i class="fa fa-chevron-right"></i></b></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="rightcnt" style="float:left;height: 400px;overflow: hidden" >
        <div id="lf_show_div">
            <b id="lf_show" class="nav42" title="点击隐藏左侧菜单栏"></b>
        </div>
    </div>

</div>
<!--<div id="menuBar">
        <div id="leftmenu" style="float:left;width:250px;height:400px;max-width: 250px;background: #eef1f8;overflow: hidden" >
            <ul id="menu_UL">
                <li>
                    <div class="div_m focus_div" id="dul1100">
                        <a class="a_m" ><i class="icon-jiance6"></i> <span>医疗质控报告</span></a><b onclick="nav(this)"><i class="fa fa-chevron-up"></i></b>
                    </div>
                    <ul id="ul1100" class="ul_m">
                        <li id="li1110" class="li_m review focus_li"><a id="link_1110" onclick="navto(this, event, 'list.html')"><i class="fa fa-circle"></i><span>质控报告清单</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1120" class="li_m review">
                            <a id="link_1120" onclick="navto(this, event, 'catalogue.html')"><i class="fa fa-circle"></i><span>目录样式</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1121" class="li_m review">
                            <a id="link_1121"  onclick="navto(this, event,'model.html')"><i class="fa fa-circle"></i><span>模版变量设置</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="div_m " id="dul1101">
                        <a class="a_m" ><i class="icon-fenxi5"></i> <span>图形分析</span></a><b onclick="nav(this)"><i class="fa fa-chevron-up"></i></b>
                    </div>
                    <ul id="ul1101" class="ul_m">
                        <li id="li1125" class="li_m review">
                            <a id="link_1125"  onclick="navto(this, event,'updata_manager.html')"><i class="fa fa-circle"></i><span>上传数据管理</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1126" class="li_m review">
                            <a id="link_1126"  onclick="navto(this, event,'table_edit.html')"><i class="fa fa-circle"></i><span>表格创建编辑</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1127" class="li_m review chats">
                            <a id="link_1127"  onclick="navto(this, event,'../charts_edit/pie_edit.html')"><i class="fa fa-circle"></i><span>饼状图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1128" class="li_m review chats">
                            <a id="link_1128"  onclick="navto(this, event,'../charts_edit/table_edit.html')"><i class="fa fa-circle"></i><span>面积图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1129" class="li_m review chats">
                            <a id="link_1129"  onclick="navto(this, event,'../charts_edit/funnel-edit.html')"><i class="fa fa-circle"></i><span>散点图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1130" class="li_m review chats">
                            <a id="link_1130"  onclick="navto(this, event,'../charts_edit/multip_edit.html')"><i class="fa fa-circle"></i><span>多轴图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1131" class="li_m review chats">
                            <a id="link_1131"  onclick="navto(this, event,'../charts_edit/area_edit.html')"><i class="fa fa-circle"></i><span>折线图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1132" class="li_m review chats">
                            <a id="link_1132"  onclick="navto(this, event,'../charts_edit/bar_edit.html')"><i class="fa fa-circle"></i><span>柱状图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1133" class="li_m review chats">
                            <a id="link_1133"  onclick="navto(this, event,'../charts_edit/radar_edit.html')"><i class="fa fa-circle"></i><span>雷达图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                        <li id="li1134" class="li_m review chats">
                            <a id="link_1134"  onclick="navto(this, event,'../charts_edit/scatter_edit.html')"><i class="fa fa-circle"></i><span>漏斗图</span><b><i class="fa fa-chevron-right"></i></b></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="rightcnt" style="float:left;height: 400px;overflow: hidden" >
            &lt;!&ndash; 点击隐藏显示按钮 &ndash;&gt;
            <div id="lf_show_div">
                <b id="lf_show" class="nav42" title="点击隐藏左侧菜单栏"></b>
            </div>
            &lt;!&ndash; 公告通知栏 &ndash;&gt;
            <div class="public" id="scrollDiv" style="width: 100%">
                <i class="icon-tongzhi"></i>
                <ul id="ul_li">

                </ul>
            </div>
            &lt;!&ndash; 内联框架 &ndash;&gt;
            <iframe id="mainframe" name="mainframe" frameborder="false" scrolling="auto"
                    style="overflow-x:hidden;border:none;width:100%;z-index: 3000;" allowtransparency="true"></iframe>
        </div>
</div>-->
<script type="text/javascript" src="../../resources/js/tangram-min.js"></script>
<script type="text/javascript" src="../../resources/js/tangram-ext.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/uaredirect.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.easyui.min.js"></script>
<script type="text/javascript">
    window.onload=function () {
        window.frames[0].location.href ="list.html";
    };
    var o_id = '';	//给iframe 内联框架传id的全局变量

    /* 左边菜单栏隐藏显示 */
    $("#lf_show").click(function () {
        $('#leftmenu').toggle();
    });
    $("#lf_show_div").mouseover(function () {
        var is_tog = $("#leftmenu").is(":hidden")
        if (is_tog == false) {
            $("#lf_show").mouseover(function () {
                $("#lf_show").removeClass().addClass('nav52').attr('title', '点击隐藏左侧菜单栏');
            });
            $("#lf_show").mouseleave(function () {
                $("#lf_show").removeClass().addClass('nav42').attr('title', '点击隐藏左侧菜单栏');
            });
        }
        if (is_tog == true) {
            //$("#lf_show").removeClass().addClass('nav41');
            $("#lf_show").mouseover(function () {
                $("#lf_show").removeClass().addClass('nav51').attr('title', '点击展开左侧菜单栏');
            });
            $("#lf_show").mouseleave(function () {
                $("#lf_show").removeClass().addClass('nav41').attr('title', '点击展开左侧菜单栏');
            });
        }
    });
    /*左侧菜单栏 箭头和文字点击事件分开 */
    //一级 文字点击事件
    function navopen(o, e, t){
        T(o).closest('#menu_UL').find('li .div_m').removeClass('focus_div');//closest最终指定父级
        T(o).parent().addClass('focus_div'); //为点击的行加背景图片
        window.frames[0].location.href =t;
        e.preventDefault();
    }
    //二级 文字点击事件
    function navto(o, e, t) {
        T(o).closest('#menu_UL').find('.li_m').removeClass('focus_li');
        T(o).parent().addClass("focus_li"); //为点击的行加背景色
        T(o).closest('#menu_UL').find('.div_m').removeClass('focus_div');
        T(o).parent().parent().parent().find('.div_m').addClass('focus_div');//为点击的行的一级加背景图片
        if(t){ window.frames[0].location.href = t;}
        o_id=o.id;//为全局变量o_id赋值;
        e.preventDefault();
    }
    //伸缩 箭头点击事件
    function nav(o){
        $(o).parent().parent().parent().find('li .div_m').removeClass('focus_div');
        $(o).parent().addClass('focus_div'); //为点击的行加背景图片
        $(o).find('i').toggleClass('fa-chevron-down'); //切换向上向下箭头
        var ul_m=$(o).parent().parent().find('ul.ul_m');
        ul_m.slideToggle(); //动画伸缩
    }



    /* 设置内联框架的高度 */
    function winresize() {
        var h = T(window).height();
        T('#mainframe').height(h - 110);
    }
    winresize();
    //页头 弹出框使用
    $("#_name").click(function (e) {
        popPanel('#_name_panel', e)
    });
    $("#_system").click(function (e) {
        popPanel('#_system_panel', e)
    });
    //下拉菜单使用
    menu_dropDown(".menu_btn");
    //下拉菜单中点击可跳转的行时
    var menu_a = $(".menu_a").find('a');
    menu_a.each(function () {
        $(this).click(function () {
            $(this).parents(".panel_div").slideUp();//点击跳转的a链接后，面板隐藏

        })
    });
    //切换角色下拉框内的背景色切换
    function switchrole(e) {
        var role_id = e.id;
        var Srole_id = "#" + role_id;
        $(Srole_id).parent().find('a').removeClass('bg_gray');
        $(Srole_id).addClass("bg_gray");
//        getleftmenu(role_id);
    }

    /* 修改密码框 */
    var leftmenu = T('#leftmenu');
    var screenWidth = document.body.clientWidth;//获取当前可用屏幕宽度
    function mine(url) {

    }
</script>
<div class="clr"></div>
</body>
</html>
