<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>医疗质控报告</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="../../resources/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/lib/awe/awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/font/iconfont.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/iconfont.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/image/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/easyui.css">
</head>
<body >

    <div>
				<div style="display:inline-block;width:90px;">
					<label style="height:28px;line-height:28px;margin-right:10px;font-weight:500;color:#000;">
	       				<input type="checkbox" class="v_align" style="border-color:#d3d3d3" id="yearcheck" name="yearcheck">
	       				<span class="v_align">年</span>
	       			</label>
       			</div>
       			<div class="pr" style="width:142px;margin-right:19px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="year" name="year" value="2016">
					<input type="text" id="_year" class="input inp dd" title="请选择起始年份" autocomplete="off" data-to="year" data-type="json" data-src="_json_years" onkeydown="return false;" style="width:100%;height:16px;text-align:center;">
				</div>
				<i style="color:#999">—</i>
				<div class="pr" style="width:142px;margin-left:5px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="year2" name="year2" value="2017">
					<input type="text" id="_year2" class="input inp dd" title="请选择终止年份" autocomplete="off" data-to="year2" data-type="json" data-src="_json_years2" onkeydown="return false;" style="width:100%;height:16px;text-align:center;">
				</div>

			</div>
<script type="text/javascript" src="../../resources/js/tangram-min.js"></script>
<script type="text/javascript" src="../../resources/js/tangram-ext.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/uaredirect.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../resources/js/baiduTemplate.js"></script>
<script>
     //获取近四年的年份
   function getYears() {
   	var nowDate = new Date();
   	year_f = nowDate.getFullYear();

   	year_last = year_f-1;
   	var year_s = year_f - 3;
   	_json_years=[];
   	_json_years_2=[];
   	_json_years_3=[];
   	var id,text;
   	for(var y=year_f;y>=year_s;y--) {
   		id=y.toString();
   		text=id;
   		_json_years.push({id:id,text:text});
   		_json_years_2.push({id:id,text:text});
   		_json_years_3.push({id:id,text:text});
   	}
   }
getYears()

   function year_change(){
	   var nowDate = new Date();
	   var year_f = nowDate.getFullYear();
	   var firstyear=T("#_year").val();
	   var secyear=T("#_year2").val();
	   if(secyear<firstyear){
		   T("#year2").val(year_f);
		   T("#_year2").val(year_f);
	   }
	   _json_years2=[];
	   var id,text;
	   	for(var y=year_f;y>=firstyear;y--) {
	   		id=y.toString();
	   		text=id;
	   		_json_years2.push({id:id,text:text});
	   	}
	    T('#_year2').dropdown();
   }

    function year_change_2(){
 	   var nowDate = new Date();
 	   var year_f = nowDate.getFullYear();
 	   var firstyear=T("#_season_year").val();
 	   var secyear=T("#_season_year2").val();
 	   if(secyear<firstyear){
 		  T("#season_year2").val(year_f);
 		   T("#_season_year2").val(year_f);
 	   }
 	   _json_years2_2=[];
 	   var id,text;
 	   	for(var y=year_f;y>=firstyear;y--) {
 	   		id=y.toString();
 	   		text=id;
 	   		_json_years2_2.push({id:id,text:text});
 	   	}
		}
</script>
<div class="clr"></div>
	<script>
		/*
		* <%@ page language="java" contentType="text/html; charset=UTF-8"
		 pageEncoding="UTF-8"%>
		 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
		 <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
		 <html>
		 <head>
		 <title>基本运行监测--医疗质量与安全指标的公用页面</title>
		 <%@ include file="/jsp/headerfile.jsp"%>
		 </head>
		 <body>
		 <div id="body_main" class="mr15" style="min-width:1000px;padding:0;">
		 <div class="tab">
		 <ul class="" id="meun">
		 </ul>
		 </div>
		 <div class="pa30">
		 <div style="width:100%;margin-top:5px;z-index:9999;">
		 <form action="" method="get">
		 <table id="cx_tab" style="float:right;color:#000;margin-bottom:30px;width:100%;position:relative;z-index:1000;" cellpadding="3" cellspacing="0">
		 <%@ include file="/jsp/time7.jsp" %>
		 </table>
		 </form>
		 </div>
		 <div style="padding-top:10px;" id="container">
		 <!-- easy-UI 表格 -->
		 <div id="tab_div">

		 </div>

		 <!-- 上面是表格    这里放图表 -->
		 <div style="border:1px solid #95B8E7;margin-top:35px;">
		 <div style="height:35px;line-height:35px;padding-left:10px;border-bottom:1px solid #95B8E7;">
		 <span class="_title">图表详情</span>
		 <div class="in-block" style="width:86%;text-align:right;margin-left:30px;">
		 <div id="orgselect" style="vertical-align: middle;">
		 <div style="display:inline-block;">科室:</div>
		 <div class="pr" style="display:inline-block;vertical-align: middle;text-align:left;width:150px;">
		 <input type="hidden" id="dimContent2" name="dimContent2" value=""/>
		 <input type="text" id="_dimContent2" class="input inp dd" title="请选择" value="请选择科室" autocomplete="off" data-to="dimContent2" data-type="json" data-src="_json_dimContent2" onkeydown="return false;" style="width:85%;height:16px;text-align:center;"/>
		 </div>
		 <div style="display:inline-block;">
		 <button type="button" id="searchOrg" name="确定"  class="btn btn-primary">
		 <i class="fa fa-refresh"></i>
		 刷新显示图表
		 </button>
		 </div>
		 </div>
		 </div>
		 <div class="fr in-block" style="width:20px;height:35px;position:relative;">
		 <div class="panel-tool">
		 <a href="javascript:;" id="panel-ss" class="panel-tool-collapse"></a>
		 </div>
		 </div>
		 </div>
		 <div id="pictures" style="width:100%;min-height:100px;margin:40px auto 0px;text-align:center;">

		 </div>
		 </div>
		 </div>
		 </div>
		 </div>

		 <!-- 查看总表-模态弹出框 -->
		 <div class="modal fade" id="modal-summary22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		 <div class="modal-dialog" style="width:80%;margin:65px auto;" >
		 <div class="modal-content">
		 <div class="modal-header" style="height:46px;background-color:#0A6999;border-radius: 5px 5px 0 0">
		 <button type="button" class="close" data-dismiss="modal">
		 <span aria-hidden="true" style="font-size:30px;">&times;</span><span class="sr-only">Close</span>
		 </button>
		 <h4 class="modal-title" style="color:#fff;">总表</h4>
		 </div>
		 <div class="modal-body">
		 <div style="margin:10px 0;">
		 <span style="font-weight:600;color:#7e7e7e;">按年显示：</span>
		 <div class="pr" style="width:10.6%;margin-right:19px;display:inline-block;vertical-align: middle;">
		 <input type="hidden" id="sumyear" name="year"/>
		 <input type="text" id="_sumyear" class="input inp dd" title="请选择年份" value="2017" autocomplete="off" data-to="sumyear" data-type="json" data-src="_json_yearsum" onkeydown="return false;" style="width:100%;height:16px;text-align:center;"/>
		 </div>
		 <div  style="float:right;">
		 <button type="button" class="btn btn-green fa fa-download" onclick="tableToExcel('summaryTable', 'W3C Example Table')" data-dismiss="modal">导出</button>
		 </div>
		 </div>
		 <div style="text-align:center" id="tablesum"></div>
		 </div>
		 <div class="modal-footer" style="text-align:center;">
		 <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
		 </div>
		 </div>
		 </div>
		 </div>
		 <!-- alert共用模态框 -->
		 <div class="modal fade" id="modal_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		 <div class="modal-dialog" style="width:300px;margin:180px 0 0 34%;" >
		 <div class="modal-content">
		 <div class="modal-header">
		 <button type="button" class="close" data-dismiss="modal">
		 <span class="is_true" aria-hidden="true" style="position:relative;top:-8px;font-size:25px;">&times;</span><span class="sr-only">Close</span>
		 </button>
		 </div>
		 <div class="modal-body">
		 <div style="height:65px;" id="txt_insert">
		 <!-- <p>TEXT！</p> -->
		 </div>
		 </div>
		 <div class="modal-footer" style="text-align:center;">
		 <button type="button" class="btn btn-primary is_true" data-dismiss="modal">确定</button>
		 </div>
		 </div>
		 </div>
		 </div>

		 <script id="tplsum" type="text/template">
		 <div class="rep15">
		 <table class="rep" style="padding-bottom:30px;" id="summaryTable">
		 [%for(var i in data){
		 if(i==0){
		 %]
		 <tr class="row tel">
		 [%for(var j in data[i]){
		 if(j==0){
		 %]
		 <td class="col-xs">[%= data[i][j] %]</td>
		 [%}else{%]
		 <th class="col-xs">[%= data[i][j] %]</th>
		 [%}}%]
		 </tr>
		 [%}else{%]
		 <tr class="row tel">
		 [%for(var j in data[i]){
		 if(j==0){
		 %]
		 <th class="col-xs" style="width: 225px;">[%= data[i][j] %]</th>
		 [%}else{%]
		 <td class="col-xs">[%= data[i][j] %]</td>
		 [%}}%]
		 </tr>
		 [%}%]
		 [%}%]
		 </table>
		 </div>

	</script>
	<script id="tpl300" type="text/template">
		<div style='width:100%;max-height:420px;overflow:auto'>
			[%

			%]
			<table cellspacing="0" cellpadding="0" id="tableExcel" style="" class="list1" >

				<tr>

					<th style="text-align:center;">[%= data[0].colums[0] %]</th>
					<th style="text-align:center;">[%= data[0].colums[1] %]</th>
					<th style="text-align:center;">[%= data[0].colums[2] %]</th>
					[%
					for(var i=3; i<data[0].colums.length; i++){
					%]
					<th style="text-align:center;width:120px;">[%= data[0].colums[i] %]</th>
					[%
					}
					%]
				</tr>
				[%
				var alldata = data[0].alldata;
				for(var i=0; i<alldata.length; i++){
				var item = alldata[i];
				%]
				<tr>
					[%
					if(item[0] != -1){//第一列有单元格合并
					%]
					<td style="text-align:center;" rowspan="[%=	parseInt(item[0]) %]">[%= item[2] %]</td>
					[%
					if(item[1] != -1){//第二列有单元格合并
					%]
					<td style="text-align:center;" rowspan="[%=	parseInt(item[1]) %]">[%= item[3] %]</td>
					[%
					} else {//第二列没有单元格合并

					}
					} else {<!--第一列没有单元格合并-->
					if(item[1] != -1){<!--第二列有单元格合并-->
					%]
					<td style="text-align:center;" rowspan="[%=	parseInt(item[1]) %]">[%= item[3] %]</td>
					[%
					} else if(alldata[i+1] != null && alldata[i][3] != alldata[i+1][3] && alldata[i] == alldata[i-1][3]) {
					%]
					<td style="text-align:center;" rowspan="1">[%= item[3] %]</td>
					[%
					}
					}
					//遍历每一行右边的指标以及数据
					for(var j=4; j<item.length; j++){
					%]
					<td style="text-align:center;">[%= item[j] %]</td>
					[%
					}
					}
					%]
				</tr>
			</table>
		</div>
	</script>
	<!-- EASYUI 表格 -->
	<script id="easy-UI" type="text/template">
		<table id="table1" title="数据详情" style="width:100%;height:400px"
			   data-options="singleSelect:true,collapsible:true,
							onLoadSuccess:rowspan_td
								">
			<thead data-options="frozen:true">
			<tr>
				<th data-options="field:'dimX',width:205,align:'center'">[%= aa[0].dimX %]</th>
				<th data-options="field:'dim2',width:100,align:'center'">[%= aa[1].dim2 %]</th>
				<th data-options="field:'kpi_name',width:150,align:'left'">[%= aa[2].kpi_name %]</th>
			</tr>
			</thead>
			<thead>
			<tr>
				[%for(var i in bb){
				var num=parseInt(i)+parseInt(3);
				var time="time"+num;
				var txt=bb[i][time];
				%]
				<th data-options="field:'[%= time %]',width:110,align:'center'">[%= txt %]</th>
				[%}%]
			</tr>
			</thead>
		</table>
	</script>
	<!-- EASYUI 表格(开始默认状态) -->
	<script id="easy-UI-MR" type="text/template">
		<table id="table1" title="数据详情" style="width:100%;height:180px"
			   data-options="singleSelect:true,collapsible:true">
			<thead data-options="frozen:true">
			</thead>
			<thead>
			</thead>
		</table>
	</script>
	<script type="text/javascript">
		var tableToExcel = (function() {
			var uri = 'data:application/vnd.ms-excel;base64,'
					, template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="UTF-8"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
					, base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
					, format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) };
			return function(table, name) {
				if (!table.nodeType) table = document.getElementById(table)
				var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML};
				window.location.href = uri + base64(format(template, ctx));
			}
		})()
	</script>
	<script type="text/javascript">
		/* 设置主体内容最小高度 */
		var main_h=$('#mainframe', parent.document).height();
		var min_H=main_h-20;
		$("#body_main").css("min-height",min_H);

		/* 页面进来默认表格状态 */
		var tab_list=[]
		function UI_MR(){
			//清空查询条件复选
			$("#cx_tab").find('input[type="checkbox"]').prop("checked",false);
			$("#_dimContent").val('全部');
			$("#dimContent").val('allill');
			_get('tab_div').innerHTML = baidu.template('easy-UI-MR', tab_list);
			$('#table1').datagrid({data:tab_list})
			//清空图表
			$("#_dimContent2").val('请选择科室');
			$("#dimContent2").val('');
			$("#orgselect").hide();
			$("#pictures").find('div').remove();
		};
		UI_MR();

		var kpi_id=[];
		var o_id=parent.o_id;//获取iframe 内联框架的父级页面(左侧菜单的子节点)的点击事件的id
		var sec_id = parseInt(o_id.substring(5,o_id.length));
		$("#fuzhi_id").text(sec_id);
		T.getJson('${ctx}/RStat/diy/getTree?id='+sec_id+'&NoType=1',function(res){
			if(res.deep>0){
				T.getJson('${ctx}/RStat/diy/getTree?id='+sec_id+"&NoType=0",function(half){
					if(half.deep==0){
						if(res.tree.kname.indexOf('单病种') >= 0 ){
							for(var i=0;i<res.tree.nodes.length;i++){
								var li_a="<li class='fl txt is_focus' style='width:auto' id='tip_"+res.tree.nodes[i].kid+"'><a>"+res.tree.nodes[i].kname+"</a></li>";
								T('#meun').append(li_a);
							}
						}else{
							for(var i=0;i<res.tree.nodes.length;i++){
								var li_a="<li class='fl txt is_focus' id='tip_"+res.tree.nodes[i].kid+"'><a>"+res.tree.nodes[i].kname+"</a></li>";
								T('#meun').append(li_a);
							}
						}
						T('#meun li:first-child').addClass('focus');
						kpifresh(T('#meun li:first-child').attr("id"));
						$(".is_focus").click(function(){
							$(this).siblings().removeClass('focus');
							$(this).addClass('focus');
							kpifresh(this.id);
							$("#all_xz").click();
							UI_MR();//回复默认状态
							$("#all_xz").addClass('col-0081c2');
						});
					}else{
						//var li_s="<li class='fl txt is_focus' id='tip_"+half.tree.kid+"'><a >"+half.tree.kname+"</a></li>";
						//T('#meun').append(li_s);
						for(var i=0;i<res.tree.nodes.length;i++){
							var li_a="<li class='fl txt is_focus' style='width:auto'  id='tip_"+res.tree.nodes[i].kid+"'><a>"+res.tree.nodes[i].kname+"</a></li>";
							T('#meun').append(li_a);
						}
						T('#meun li:first-child').addClass('focus');
						kpifresh(T('#meun li:first-child').attr("id"));
						$(".is_focus").click(function(){
							$(this).siblings().removeClass('focus');
							$(this).addClass('focus');
							kpifresh(this.id);
							$("#all_xz").click();
							UI_MR();//回复默认状态
							$("#all_xz").addClass('col-0081c2');
						});
					}
				});
			}else if(res.deep==0){
				var li_a="<li class='fl txt is_focus' style='width:auto' id='tip_"+res.tree.kid+"'><a >"+res.tree.kname+"</a></li>";
				T('#meun').append(li_a);
				T('#meun li:first-child').addClass('focus');
				kpifresh(T('#meun li:first-child').attr("id"));
				$(".is_focus").click(function(){
					$(this).siblings().removeClass('focus');
					$(this).addClass('focus');
					kpifresh(this.id);
					$("#all_xz").click();
					UI_MR();//回复默认状态
					$("#all_xz").addClass('col-0081c2');
				});
			}
		});

		//设置全局变量
		var setlist;
		$('#orgselect').hide();
		function getIllRow(item){
			var rows = 0;
			for(var i=0; i<item.orglist.length; i++){
				item1 = item.orglist[i];
				for (var j=0; j<item1.kpilist.length; j++){
					rows++;
				}
				rows++;
			}
			return rows+1;
		}


		//easy-ui合并单元格全局变量
		//第1列数据
		var RSdata1='';
		var merges1=[];
		//第2列数据
		var RSdata2='';
		var merges2=[];
		//var kpi_id = "116,117,118,119,123,124,18001,18002,18003";
		var role_id = ${user.role_id[user.role_index]};
		var org_id = ${user.org_id[0]};
		//导出表格
		function exportFile(){
			var kpi_id =$('#kpi_ids').val();
			$.ajax({
				url: '${ctx}/RStat/getReadAndWrite?flag=read&kpi_ids='+kpi_id+'&org_id='+org_id,
				type: 'post',
				dataType: "text",
				success:function(res){
					kpi_id=res;
					//多选指标数组
					var all_checkd=$("#kpi_zb").find('span.yes_check');
					var kpi_zb='';
					for(var i=0;i<all_checkd.length;i++){
						kpi_zb+=all_checkd.eq(i).attr("id")+",";
					}
					kpi_id=kpi_zb.substring(0,kpi_zb.length-1);

					if (kpi_id!="") {
						var param = getSurveyParam(kpi_id, role_id, org_id);
						var pic=T("#pictures").find("div");
						if(pic){
							pic.remove();
						}
						var surveyParam=getSurveyParam(kpi_id,role_id,org_id);
						if($('#_dimContent').val()=="全部"){
							$('#orgselect').hide();
						}else{
							$('#orgselect').show();
						}
						window.location.href = "${ctx}/Expo/getExcelValue"+surveyParam+"&file_name=kpiValue";

					}else{
						$("#txt_insert p").remove();
						$("#txt_insert").append("<p>您没有权限下载该部分内容！</p>");
						$("#modal_alert").modal("toggle");
						UI_MR();//回复默认状态
					}
				},
				error:function(){
					$("#txt_insert p").remove();
					$("#txt_insert").append("<p>获取权限失败！</p>");
					$("#modal_alert").modal("toggle");
					UI_MR();//回复默认状态
				}
			});
		}





		T("#_button").click(function(){
			var kpi_id =$('#kpi_ids').val();
			$.ajax({
				url: '${ctx}/RStat/getReadAndWrite?flag=read&kpi_ids='+kpi_id+'&org_id='+org_id,
				type: 'post',
				dataType: "text",
				success:function(res){
					kpi_id=res;
					//多选指标数组
					var all_checkd=$("#kpi_zb").find('span.yes_check');
					var kpi_zb='';
					for(var i=0;i<all_checkd.length;i++){
						kpi_zb+=all_checkd.eq(i).attr("id")+",";
					}
					kpi_id=kpi_zb.substring(0,kpi_zb.length-1);

					if (kpi_id!="") {
						var param = getSurveyParam(kpi_id, role_id, org_id);

						var pic=T("#pictures").find("div");
						if(pic){
							pic.remove();
						}

						var surveyParam=getSurveyParam(kpi_id,role_id,org_id);
						if($('#_dimContent').val()=="全部"){
							$('#orgselect').hide();
						}else{
							$('#orgselect').show();
						}

						T('#table').children('div').remove();
						T.getJson('${ctx}/RStat/survey/getSurveyData'+surveyParam,function(data){
							//alert(JSON.stringify(data))
							if(data.length>1){ //当没勾选查询条件时出现
								/* EASY-UI表格 */
								RSdata1=data[1].index;  //第1列合并数据
								RSdata2=data[1].indexN; //第2列合并数据
								_get('tab_div').innerHTML = baidu.template('easy-UI', data[1].col);
								/* UI数据 */
								var table_data=data[1].datanum;
								$('#table1').datagrid({data:table_data})//填入数据
								//$('.panel-tool').hide();//隐藏收缩按钮
							}else{
								UI_MR();//回复默认状态
							}

							var datas = {data:data};
							setlist = datas.data[0].setlist;
							_json_dimContent2 = setlist;
							T('#_dimContent2').dropdown({height:'190px'});
							for(var i=0;i<datas.data[0].ja.length;i++){
								var s=datas.data[0].ja[i].type;
								var type=s.substring(0,s.length-2);
								var add_div="<div style='text-align:center;margin: 0 auto;width:850px;height:400px;margin-bottom:20px;border:1px solid #cfcfcf;border-radius:10px;box-shadow:2px 2px 6px 0px #aaa;display:none;' id='picture"+i+"' class='"+type+" pit' ></div>";
								T("#pictures").append(add_div);
								var add_title="<div style='display:none;' id='title"+i+"' class='title"+datas.data[0].ja[i].type+"' ></div>";
								T("#pictures").append(add_title);
								var myChartsp= echarts.init(document.getElementById("picture"+i));
								var option=datas.data[0].ja[i];
								myChartsp.setOption(option);
							}
						})
					}else{
						$("#txt_insert p").remove();
						$("#txt_insert").append("<p>您没有权限查看该部分内容！</p>");
						$("#modal_alert").modal("toggle");
						UI_MR();//回复默认状态
					}
				},
				error:function(){
					$("#txt_insert p").remove();
					$("#txt_insert").append("<p>获取权限失败！</p>");
					$("#modal_alert").modal("toggle");
					UI_MR();//回复默认状态
				}
			});
		})

		/* EASY-UI表格合并单元格 */
		//fn 方法
		function rowspan_td(){
			//第1列合并操作
			merges1=[];
			for(var i=0;i<RSdata1.length;i++){
				var obj1={index:RSdata1[i][0],rowspan:RSdata1[i][1]}
				merges1.push(obj1);
			}
			for (var i = 0; i < merges1.length; i++) {
				$(this).datagrid('mergeCells', {
					index: merges1[i].index,
					field: 'dimX',
					rowspan: merges1[i].rowspan
				});
			}

			//第2列合并操作
			merges2=[];
			for(var i=0;i<RSdata2.length;i++){
				var obj2={index:RSdata2[i][0],rowspan:RSdata2[i][1]}
				merges2.push(obj2);
			}
			for (var i = 0; i < merges2.length; i++) {
				$(this).datagrid('mergeCells', {
					index: merges2[i].index,
					field: 'dim2',
					rowspan: merges2[i].rowspan
				});
			}
		}
		//单元格点击事件
		function jump(t){
			var kpi_data=[];
			var _jb=$(t).attr('data-jb');
			var _ks=$(t).attr('data-ks');
			var _zb=$(t).attr('data-zb');
			var _sj=$(t).attr('data-sj');
			var _val=$(t).attr('data-val');
			//alert("指标:"+_zb+"   疾病:"+_jb+"   科室:"+_ks+"   时间:"+_sj+"   VAL:"+_val);
			//传后台
			//var obj={'kpi':_zb,'dim1':_sj,'dim2':_ks,'dim3':_jb,'val':_val};
			var obj={'kpi':0,'dim1':0,'dim2':0,'dim3':0,'val':0};
			kpi_data.push(obj);
			/* T.getJson('${ctx}/RStat/getCasetab?kpi='+_zb+"&dim3="+_jb+"&dim2="+_ks+"&dim1="+_sj+"&val="+_val,function(res){
			 //alert(JSON.stringify(res));
			 });  */

		}


		/* 查看总表 */
		var nowDate = new Date();
		var thisyear = nowDate.getFullYear();
		//获取近四年的年份
		_json_yearsum=[];
		function getYearsum() {
			var nowDate = new Date();
			var year_f = nowDate.getFullYear();
			var year_s = year_f - 3;
			var id,text;
			for(var y=year_f;y>=year_s;y--) {
				id=y.toString();
				text=id;
				_json_yearsum.push({id:id,text:text});
			}
		}
		getYearsum();
		T('#_sumyear').dropdown({after:yearchange});

		//加载总表
		T("#getSummary").click(function(){
			$("#modal-summary22").modal("toggle");
			T.getJson('${ctx}/RStat/survey/getSummary?kpi_id='+kpi_id+"&year="+thisyear,function(res2){
				var data={data:res2};
				_get('tablesum').innerHTML = baidu.template('tplsum', data);
			});
		});

		//切换时间
		function yearchange(){
			var year = T("#_sumyear").val();
			T.getJson('${ctx}/RStat/survey/getSummary?kpi_id='+kpi_id+"&year="+year,function(res2){
				var data={data:res2};
				_get('tablesum').innerHTML = baidu.template('tplsum', data);
			});
		}

		/* 刷新显示图表 按钮 */
		$('#searchOrg').click(function() {
			if(T("#_dimContent2").val()=="请选择科室"){
				$("#txt_insert p").remove();
				$("#txt_insert").append("<p>未选择科室，请选择！</p>");
				$("#modal_alert").modal("toggle");
			}else{
				var info2=$('#_dimContent2').val();
				var info2=$('#_dimContent2').val();
				T('.'+info2+'').show();
				T('.'+"title"+info2+'').show();
			}
		});
		/* 图表收缩按钮箭头 */
		$("#panel-ss").click(function(){
			$(this).toggleClass('panel-tool-expand');
			$("#pictures").slideToggle();
		});

		function wait() {
			T('#_button').attr('disabled',true);
			setTimeout(function(){
				T('#_button').attr('disabled',false);
			}, 2000);
		}

		//多态点击科室下拉框
		function getSurveyParam(kpi_id,role_id,org_id){
			if($('#_dimContent').is(':hidden')){
				dimParam="_";
			}else{
				if($('#_dimContent').val()=="全部"){
					dimParam=dim_name_info;
				}else {
					dimParam=$('#dimContent').val()+"_"+dim_name_info;
				}
			}
			var filter_str="?";
			var year1="";
			var year2="";
			var season1="";
			var season2="";
			var month1="";
			var month2="";
			var day1="";
			var day2= "";
			if(T("[name='yearcheck']").attr("checked")){
				year1=T("#_year").val();
				year2=T("#_year2").val();
			}
			filter_str+="year1=";
			filter_str+=year1;
			filter_str+="&year2=";
			filter_str+=year2;
			if(T("[name='seasoncheck']").attr("checked")){
				var year_1=T("#_season_year").val();
				var year_2=T("#_season_year2").val();
				var season_1=T("#season").val();
				var season_2=T("#season2").val();
				season1+=year_1+"S"+season_1;
				season2+=year_2+"S"+season_2;
			}
			filter_str+="&season1=";
			filter_str+=season1;
			filter_str+="&season2=";
			filter_str+=season2;
			if(T("[name='monthcheck']").attr("checked")){
				var year_1=T("#_month_year").val();
				var year_2=T("#_month_year2").val();
				var month_1=T("#month").val();
				var month_2=T("#month2").val();
				if(parseInt(month_1)<=9){
					month_1="0"+month_1;
				}
				if(parseInt(month_2)<=9){
					month_2=""+month_2;
				}
				month1+=year_1;
				month1+=month_1;
				month2+=year_2;
				month2+=month_2;
			}
			filter_str+="&month1=";
			filter_str+=month1;
			filter_str+="&month2=";
			filter_str+=month2;
			//03/01/2017 - 03/07/2017
			if(T("[name='daycheck']").attr("checked")){
				var range=T("#config-demo").val();
				var day_1=range.substr(0,2);
				var month_1=range.substr(3,2);
				var year_1=range.substr(6,4);
				var day_2=range.substr(13,2);
				var month_2=range.substr(16,2);
				var year_2=range.substr(19,4);
				day1=year_1+ month_1 + day_1;
				day2=year_2 + month_2 + day_2;
			}
			filter_str+="&day1=";
			filter_str+=day1;
			filter_str+="&day2=";
			filter_str+=day2;
			var org=T("input[name='org']:checked").val();
			filter_str+="&org=";
			filter_str+=org;
			filter_str+="&ill="
			filter_str+=dimParam;
			filter_str+="&kpi_id=";
			filter_str+=kpi_id;
			filter_str+="&role_id=";
			filter_str+=role_id;
			filter_str+="&org_id=";
			filter_str+=org_id;

			return filter_str;
		}
		$('#config-demo').daterangepicker({
			locale: {
				format: 'DD/MM/YYYY',
				applyLabel: '确认',
				cancelLabel: '取消',
				fromLabel : '起始时间',
				toLabel : '结束时间',
				customRangeLabel : '自定义',
				firstDay : 1,
				daysOfWeek:["日", "一", "二", "三", "四", "五", "六"],
				monthNames:["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
			}
		});



	</script>
	<div class="clr"></div>
</body>
</html>
		* */
	</script>
</body>
</html>
