<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>医疗质控报告</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="../../resources/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/lib/awe/awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/font/iconfont.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/iconfont.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/image/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/easyui.css">
	<style>
		.datetimepicker{top:27%;left:2%;}
		.time4_tab{color:#000;border:1px solid #95B8E7;border-right:none;font-size:14px;}
		/* 	.time4_tab label input,.time4_tab label span{color:#000;} */
		.time4_tab>tr>td{border-right:1px solid #95B8E7;}
		.time4_tab tr td label .v_align{vertical-align:middle;margin:0px;}
		#togg {width:30px;height:30px;line-height:30px;border-radius:15px;background:#fff;border:none;position:relative;top:2px;}
		#togg:hover {background:#bedef1;border:1px solid #0e83b9}
		#togg i{padding:8px 5px;}
		.nav61{background: url('${ctx}/resources/images/nav61.png') no-repeat right center;}
		.nav62{background: url('${ctx}/resources/images/nav62.png') no-repeat right center;}
		.zb_label{height:25px;line-height:25px;margin:0;margin-right:20px;font-weight:500;color:#000;}
		.xuanze{display:inline-block;width:40px;text-align:center;border:1px solid transparent;border-radius:3px;cursor:pointer;}
		.xuanze:hover{border-color:#95B8E7;}
		.col-0081c2{border-color:#0081c2;}
		.yes_check{display:inline-block;height:20px;line-height:20px;padding:0 9px;border-radius:15px;margin-right:5px;margin-bottom:5px;background:#1297fb;color:#fff;cursor:pointer;}
		.no_check{display:inline-block;height:20px;line-height:20px;padding:0 9px;border-radius:15px;margin-right:5px;margin-bottom:5px;background:#e5e5e5;color:#B9B7B7;cursor:pointer;}

	</style>
</head>
<body >
<input id="kpi_ids" type="hidden" value=""/>
<table>
	<tbody class="time4_tab" id="parent_tab">
	<tr class="row except" style="height:35px;line-height:35px;border-bottom:1px solid #95B8E7;">
		<td class="col-xs-12">
			<span class="_title">查询条件</span>
			<div class="fr" style="height:35px">
				<button type="button" id="_button" class="btn btn-primary" style="margin-right:20px;"><i class="fa fa-search"></i> 查询</button>
				<button  type="button" class="btn btn-green" onclick="exportFile()" style="height: 26px;line-height:10px;"><i class="fa fa-download"></i>导出</button>
				<button type="button" id="togg" title="点击隐藏"><i class="nav61"></i></button>
			</div>
			<div id="summary" style="position:absolute;top:50px;right:45px;">
				<button type="button" id="getSummary" class="btn btn-primary"><i class="fa fa-search"></i>查看总表</button>
			</div>
		</td>
	</tr>
	<tr class="row" id="dim_tr" style="display:none">
		<td class="col-xs-12" style="padding-top:10px;">
			<div style="display:inline-block;/* width:33.5% */">
				<div  id="dimType" style="display:inline-block;min-width:90px;">维度</div>
				<div class="pr" style="width:147px;display:inline-block;vertical-align: middle; margin-right: 30px;">
					<input type="hidden" id="dimContent" name="dimContent" value="allill"/>
					<input type="text" id="_dimContent" class="input inp dd"  title="请选择" value="全部" autocomplete="off" data-to="dimContent" data-type="json" data-src="_json_dimContent" onkeydown="return false;" style="width:98%;height:16px;text-align:center;"/>
				</div>
			</div>
		</td>
	</tr>
	<tr class="row pitchOn">
		<td class="col-xs-12" style="padding-top:5px;">
			<div style="display:inline-block;">
				<div style="display:inline-block;width:90px;">机构 </div>
				<label style="font-weight: normal;margin-right:48px;">
					<input class="allorg v_align" type="radio" value="allorg" name="org" checked />
					<span class="v_align">全院</span>
				</label>
				<label style="font-weight: normal;margin-right:48px;">
					<input class="eachorg v_align" type="radio" value="alleachorg" id="allorgsle" name="org"/>
					<span calss="v_align">按科室(包含全院)</span>
				</label>
				<label style="font-weight: normal;margin-right:48px;">
					<input class="eachorg v_align" type="radio" value="eachorg" id="orgsle" name="org"/>
					<span calss="v_align">按科室</span>
				</label>
				<!--  <label style="font-weight: normal;">
						<input class="eachorg v_align" type="radio" value="otherorg" id="orgsle" name="org"/>
						<span calss="v_align">科室</span>
				</label>  -->
			</div>
		</td>
	</tr>
	<tr class="row" id="year_tr" >
		<td class="col-xs-12" style="padding-top:2px;">
			<div>
				<div style="display:inline-block;width:90px;">
					<label style="height:28px;line-height:28px;margin-right:10px;font-weight:500;color:#000;" >
						<input type="checkbox" class="v_align" style="border-color:#d3d3d3" id="yearcheck" name= "yearcheck" />
						<span class="v_align">年</span>
					</label>
				</div>
				<div class="pr" style="width:142px;margin-right:19px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="year" name="year" class="last"/>
					<input type="text" id="_year" class="input inp dd last" title="请选择起始年份" autocomplete="off" data-to="year" data-type="json" data-src="_json_years" onkeydown="return false;" style="width:100%;height:16px;text-align:center;" value="2016"/>
				</div>
				<i style="color:#999">—</i>
				<div class="pr" style="width:142px;margin-left:5px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="year2" name="year2" class="currYear"/>
					<input type="text" id="_year2" class="input inp dd currYear" title="请选择终止年份" autocomplete="off" data-to="year2" data-type="json" data-src="_json_years2" onkeydown="return false;" value="2017" style="width:100%;height:16px;text-align:center;"/>
				</div>

			</div>
		</td>
	</tr>
	<tr class="row" id="season_tr" >
		<td class="col-xs-12" style="padding-top:0px;">
			<div>
				<div style="display:inline-block;width:90px;">
					<label style="height:28px;line-height:28px;margin-right:10px;font-weight:500;color:#000;">
						<input type="checkbox" class="v_align" style="border-color:#d3d3d3" id="seasoncheck" name="seasoncheck"/>
						<span class="v_align">季</span>
					</label>
				</div>
				<div class="pr" style="width:157px;margin-right:18px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="season_year" name="season_year" class="last"/>
					<input type="text" id="_season_year" class="input inp dd last" title="请选择起始年度" autocomplete="off" data-to="season_year" data-type="json" data-src="_json_years_2" onkeydown="return false;" style="width:97%;height:16px;text-align:center;"/>
				</div>
				<div class="pr" style="width:157px;margin-right:17px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="season" name="season" value="1"/>
					<input type="text" id="_season" class="input inp dd" title="请选择起始季度" autocomplete="off" data-to="season" value="1季度" data-type="json" data-src="_json_season1" onkeydown="return false;" style="width:97%;height:16px;text-align:center;"/>
				</div>
				<i style="color:#999">—</i>
				<div class="pr" style="width:157px;margin-left:5px;margin-right:19px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="season_year2" name="season_year2" class="currYear"/>
					<input type="text" id="_season_year2" class="input inp dd currYear" title="请选择终止年度" autocomplete="off" data-to="season_year2" data-type="json" data-src="_json_years2_2" onkeydown="return false;" style="width:98%;height:16px;text-align:center;"/>
				</div>
				<div class="pr" style="width:157px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="season2" name="season2" value="4"/>
					<input type="text" id="_season2" class="input inp dd" title="请选择终止季度" autocomplete="off" data-to="season2" value="4季度" data-type="json" data-src="_json_season2" onkeydown="return false;" style="width:98%;height:16px;text-align:center;"/>
				</div>
			</div>
		</td>
	</tr>
	<tr class="row" id="month_tr" >
		<td class="col-xs-12"  style="padding-top:2px;">
			<div>
				<div style="display:inline-block;width:90px;">
					<label style="height:28px;line-height:28px;margin-right:10px;font-weight:500;color:#000;">
						<input type="checkbox" class="v_align" style="border-color:#d3d3d3" id="monthcheck" name="monthcheck" />
						<span  class="v_align">月</span>
					</label>
				</div>
				<div class="pr" style="width:157px;margin-right:18px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="month_year" name="month_year"/>
					<input type="text" id="_month_year" class="input inp dd last"  title="请选择起始年度" autocomplete="off" data-to="month_year" data-type="json" data-src="_json_years_3" onkeydown="return false;" style="width:97%;height:16px;text-align:center;"/>
				</div>
				<div class="pr" style="width:157px;margin-right:17px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="month" name="month" value="1"/>
					<input type="text" id="_month" class="input inp dd" title="请选择起始月份" autocomplete="off" data-to="month"  value="1月份" data-type="json" data-src="_json_month1" onkeydown="return false;" style="width:97%;height:16px;text-align:center;"/>
				</div>
				<i style="color:#999">—</i>
				<div class="pr" style="width:157px;margin-left:5px;margin-right:19px;display:inline-block;vertical-align: middle;">

					<input type="hidden" id="month_year2" name="month_year2"/>
					<input type="text" id="_month_year2" class="input inp dd currYear" title="请选择终止年度" autocomplete="off" data-to="month_year2" data-type="json" data-src="_json_years2_3" onkeydown="return false;" style="width:98%;height:16px;text-align:center;"/>
				</div>
				<div class="pr" style="width:157px;display:inline-block;vertical-align: middle;">
					<input type="hidden" id="month2" name="month2" value="12"/>
					<input type="text" id="_month2" class="input inp dd " title="请选择终止月份"  autocomplete="off" data-to="month2" value="12月份" data-type="json" data-src="_json_month2" onkeydown="return false;"  style="width:98%;height:16px;text-align:center;"/>
				</div>
			</div>
		</td>
	</tr>
	<tr class="row"  id="day_tr" >
		<td class="col-xs-12" style="padding-top:2px;">
			<div>
				<div style="display:inline-block;width:90px;">
					<label style="height:28px;line-height:28px;margin-right:10px;font-weight:500;color:#000;">
						<input type="checkbox" class="v_align" style="border-color:#d3d3d3" name="daycheck"/>
						<span class="v_align">日</span>
					</label>
				</div>
				<div class="demo pr" style="display:inline-block;width:347px;">
					<input type="text" id="config-demo" title="点击选取起始日期和终止日期" style="width:95%;height:16px;" value="" class="form-control input inp dd">
				</div>
			</div>
		</td>
	</tr>
	<tr class="row pitchOn">
		<td class="col-xs-12"  style="padding-top:2px;">
			<div class="in-block t_align" style="width:90px;">指标 </div>
			<div class="in-block" style="width:85%;margin-bottom:10px;">
				<div style="margin-bottom:5px;">
					<span class="xuanze col-0081c2" id="all_xz" data-type='0'>全选</span>
					<span> / </span>
					<span class="xuanze" id="fan_xz">反选</span>
				</div>
				<div id="kpi_zb" class="pr" style="margin-right:18px;vertical-align: middle;">

				</div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<script type="text/javascript" src="../../resources/js/tangram-min.js"></script>
<script type="text/javascript" src="../../resources/js/tangram-ext.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/uaredirect.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../resources/js/baiduTemplate.js"></script>
<script type="text/javascript">
	var _json_years =[];//第一个年
	var _json_years2=[];//第二个年
	var _json_years_2 =[];//第一个季度的年
	var _json_years2_2=[];//第二个季度的年
	var _json_years_3 =[]; //第一个月的年
	var _json_years2_3 =[]; //第二个月的年
	var _json_season1 = [
		{id:'1', text:'第1季度'},
		{id:'2', text:'第2季度'},
		{id:'3', text:'第3季度'},
		{id:'4', text:'第4季度'}
	];
	var _json_season2 = [
		{id:'1', text:'第1季度'},
		{id:'2', text:'第2季度'},
		{id:'3', text:'第3季度'},
		{id:'4', text:'第4季度'}
	];
	var _json_month2 = [
		{id:'1', text:'1月'},
		{id:'2', text:'2月'},
		{id:'3', text:'3月'},
		{id:'4', text:'4月'},
		{id:'5', text:'5月'},
		{id:'6', text:'6月'},
		{id:'7', text:'7月'},
		{id:'8', text:'8月'},
		{id:'9', text:'9月'},
		{id:'10', text:'10月'},
		{id:'11', text:'11月'},
		{id:'12', text:'12月'}
	];
	var _json_dimContent = [];
	var _json_dimContent2 = [];
	var dimParam="";
	var dim_name_info="";

	/*if("${summary}" == "1"){
		T("#summary").show();
	} else {
		T("#summary").hide();
	}*/


	/*function kpifresh(id){
		T('.loading').show();
		$("#table").find("div").remove();
		$("#chart").find("div").remove();
		kpi_id=[];
		var thir_id = id.substring(4,id.length);
		var kpistr="";
		var resparam="";

		var year_last="";
		var year_f ="";
		getYears();
		/!*查询当前的指标及维度*!/
		T.getJson('${ctx}/RStat/survey/getKpiAndDim?kpi_id='+thir_id+'&org_role_name=${user.org_name[0]}', function(result){
			if(result.kpi_freq==1){
				$('#year_tr').show();
				$('#year_tr').addClass('pitchOn');
			}else if(result.kpi_freq==2){
				$('#year_tr').show();
				$('#season_tr').show();
				$('#year_tr').addClass('pitchOn');
				$('#season_tr').addClass('pitchOn');
			}else if(result.kpi_freq==3){
				$('#year_tr').show();
				$('#season_tr').show();
				$('#month_tr').show();
				$('#year_tr').addClass('pitchOn');
				$('#season_tr').addClass('pitchOn');
				$('#month_tr').addClass('pitchOn');
			}else if(result.kpi_freq==4){
				$('#year_tr').show();
				$('#season_tr').show();
				$('#month_tr').show();
				$('#day_tr').show();
				$('#year_tr').addClass('pitchOn');
				$('#season_tr').addClass('pitchOn');
				$('#month_tr').addClass('pitchOn');
				$('#day_tr').addClass('pitchOn');
			}else{

			}

			$('#kpi_ids').val(result.kpi_ids);
			if(result.kpi_dim.length==0){
				$('#dim_tr').hide();
				$('#_dimContent').val('');

				getYears();
				$("#year").val(year_last);
				$("#_year").val(year_last);
				$("#season_year").val(year_last);
				$("#_season_year").val(year_last);
				$("#month_year").val(year_last);
				$("#_month_year").val(year_last);
				year_change();
				year_change_2();
				year_change_3();
				T('#_year').dropdown({after:year_change});
				//季度下拉框的实现
				T("#_season_year").dropdown({after:year_change_2});
				//T("#_season2").dropdown();
				T("#_season").dropdown({after:season_change});
				//月份下拉框的实现
				T("#_month_year").dropdown({after:year_change_3});
				//T("#_month2").dropdown();
				T("#_month").dropdown({after:month_change});
				T('.loading').hide();
			}else{
				$('#dim_tr').show();
				$('#dim_tr').addClass('pitchOn');
				dimParam=result.kpi_dim[0].dim_name;
				dim_name_info=result.kpi_dim[0].dim_name;
				$('#dimType').html(result.kpi_dim[0].dim_desc+" : ");
				var kpi_ids=result.kpi_ids;
				/!* 维度下拉框 *!/
				T.getJson('${ctx}/RStat/survey/getDimContent?kpi_ids='+kpi_ids+'&kpi_dim_id='+result.kpi_dim[0].kpi_dim_id, function(res){
					_json_dimContent = res;
					T('#_dimContent').dropdown({height:'300px'});

					getYears();
					$("#year").val(year_last);
					$("#_year").val(year_last);
					$("#season_year").val(year_last);
					$("#_season_year").val(year_last);
					$("#month_year").val(year_last);
					$("#_month_year").val(year_last);
					year_change();
					year_change_2();
					year_change_3();
					T('#_year').dropdown({after:year_change});
					//季度下拉框的实现
					T("#_season_year").dropdown({after:year_change_2});
					//T("#_season2").dropdown();
					T("#_season").dropdown({after:season_change});
					//月份下拉框的实现
					T("#_month_year").dropdown({after:year_change_3});
					//T("#_month2").dropdown();
					T("#_month").dropdown({after:month_change});
					T('.loading').hide();
				})
			}

			/!* 获取多选的指标数据 *!/
			var zb_data=result.kpi_zb;
			if(zb_data.length!=0){
				$("#kpi_zb").find("span").remove();
				for(var i=0;i<zb_data.length;i++){
// 	    		var html='<label class="zb_label">'+
// 			   				'<input id="'+zb_data[i].id+'" checked type="checkbox" class="v_align"/> '+
// 			     				' <span class="v_align yes_check">'+zb_data[i].name+'</span>'+
// 			     			'</label>';

					var html='<span id="'+zb_data[i].id+'" class="yes_check">'+zb_data[i].name+'</span>';
					$("#kpi_zb").append(html);
				}
				all_select();
				all_invert();
			}
		});

		/!*封装全选(针对复选框)  *!/
		/!* function all_select(){
		 // 点击全选复选框
		 var all_che=$("#kpi_zb").find("input:checkbox");
		 var all_span=$("#kpi_zb").find("span");
		 //点击全选后，下面的复选框全勾上，再点击时取消
		 $("#all_xz").unbind();
		 $("#all_xz").click(function(){
		 $(this).toggleClass('xz');
		 all_span.toggleClass('no_check')
		 if($(this).attr('class')=='xuanze xz'){
		 $(this).addClass('col-0081c2');
		 all_che.prop("checked",true);
		 }else{
		 $(this).removeClass('col-0081c2');
		 all_che.prop("checked",false);
		 };
		 });
		 //二级复选框全勾上后，全选勾上
		 all_che.change(function(){
		 if(all_che.not("input:checked").size() <= 0){
		 //如果其它的复选框全部被勾选了，那么全选勾中
		 $('#all_xz').addClass('col-0081c2');
		 }else{
		 $('#all_xz').removeClass('col-0081c2');
		 }
		 });
		 }  *!/

		/!* 封装反选 (针对复选框)*!/
		/!* function all_invert(){
		 var all_che2=$("#kpi_zb").find('input');
		 $("#fan_xz").click(function(){
		 $('#all_xz').removeClass('col-0081c2');
		 $('#all_xz').removeClass('xz');
		 all_che2.each(function() {
		 if (this.checked == true) {
		 this.checked = false;
		 } else {
		 this.checked = true;
		 }
		 })
		 });
		 } *!/

		/!* 封装全选(无复选框) *!/
		function all_select(){
			var all_span=$("#kpi_zb").find("span");
			//点击全选后，下面的复选框全勾上，再点击时取消
			$("#all_xz").unbind();
			$("#all_xz").click(function(){
				if($(this).attr('class')=='xuanze'){
					$(this).addClass('col-0081c2');
					all_span.removeClass('no_check').addClass('yes_check');
				}else{
					$(this).removeClass('col-0081c2');
					all_span.removeClass('yes_check').addClass('no_check');
				};
			})
			//二级复选框全勾上后，全选勾上
			all_span.click(function(){
				$(this).toggleClass('yes_check').toggleClass('no_check');
				if($('#kpi_zb').find("span.no_check").length == 0){
					//如果其它的复选框全部被勾选了，那么全选勾中
					$('#all_xz').addClass('col-0081c2');
				}else{
					$('#all_xz').removeClass('col-0081c2');
				}
			});
		}
		/!* 封装反选(无复选框)*!/
		function all_invert(){
			var all_span2=$("#kpi_zb").find("span");
			$("#fan_xz").click(function(){
				all_span2.each(function() {
					if ($(this).attr('class') == 'yes_check') {
						$(this).removeClass('yes_check').addClass('no_check');
					} else {
						$(this).removeClass('no_check').addClass('yes_check');
					}
				})
				//如果其它的复选框全部被勾选了，那么全选勾中
				if($('#kpi_zb').find("span.no_check").length == 0){
					$('#all_xz').addClass('col-0081c2');
				}else{
					$('#all_xz').removeClass('col-0081c2');
				}
			});
		}

		/!*!//获取近四年的年份
		function getYears() {
			var nowDate = new Date();
			year_f = nowDate.getFullYear();
			year_last = year_f-1;
			var year_s = year_f - 3;
			_json_years=[];
			_json_years_2=[];
			_json_years_3=[];
			var id,text;
			for(var y=year_f;y>=year_s;y--) {
				id=y.toString();
				text=id;
				_json_years.push({id:id,text:text});
				_json_years_2.push({id:id,text:text});
				_json_years_3.push({id:id,text:text});
			}
		}
		function year_change(){
			var nowDate = new Date();
			var year_f = nowDate.getFullYear();
			var firstyear=T("#_year").val();
			var secyear=T("#_year2").val();
			if(secyear<firstyear){
				T("#year2").val(year_f);
				T("#_year2").val(year_f);
			}
			_json_years2=[];
			var id,text;
			for(var y=year_f;y>=firstyear;y--) {
				id=y.toString();
				text=id;
				_json_years2.push({id:id,text:text});
			}
			T('#_year2').dropdown();
		}
		function year_change_2(){
			var nowDate = new Date();
			var year_f = nowDate.getFullYear();
			var firstyear=T("#_season_year").val();
			var secyear=T("#_season_year2").val();
			if(secyear<firstyear){
				T("#season_year2").val(year_f);
				T("#_season_year2").val(year_f);
			}
			_json_years2_2=[];
			var id,text;
			for(var y=year_f;y>=firstyear;y--) {
				id=y.toString();
				text=id;
				_json_years2_2.push({id:id,text:text});
			}

			//判断季度
			season_change();
			T("#_season2").dropdown();
			T('#_season_year2').dropdown({after:season_change});
		}
		function season_change(){
			var firstyear=parseInt(T("#_season_year").val());
			var secyear=parseInt(T("#_season_year2").val());
			if (firstyear==secyear){
				var firstseason=parseInt(T("#season").val());
				var secseason = parseInt(T("#season2").val());
				if(secseason<firstseason){
					T("#season2").val(firstseason);
				}
				_json_season2=[];
				for(var i=firstseason;i<=4;i++) {
					id=i.toString();
					text="第"+id+"季度";
					_json_season2.push({id:id,text:text});
				}
			}else if(firstyear<secyear){
				_json_season2=[];
				for(var i=1;i<=4;i++) {
					id=i.toString();
					text="第"+id+"季度";
					_json_season2.push({id:id,text:text});
				}
			}
			T("#_season2").dropdown();

		}
		function year_change_3(){
			var nowDate = new Date();
			var year_f = nowDate.getFullYear();
			var firstyear=T("#_month_year").val();
			var secyear=T("#_month_year2").val();
			if(secyear<firstyear){
				T("#month_year2").val(year_f);
				T("#_month_year2").val(year_f);
			}
			_json_years2_3=[];
			var id,text;
			for(var y=year_f;y>=firstyear;y--) {
				id=y.toString();
				text=id;
				_json_years2_3.push({id:id,text:text});
			}

			//判断月份
			month_change();
			T("#_month2").dropdown();
			T('#_month_year2').dropdown({after:month_change});
		}
		function month_change(){
			var firstyear=parseInt(T("#_month_year").val());
			var secyear=parseInt(T("#_month_year2").val());
			if (firstyear==secyear){
				var firstmonth=parseInt(T("#month").val());
				var secmonth = parseInt(T("#month2").val());
				if(secmonth<firstmonth){
					T("#month2").val(firstmonth);
				}
				_json_month2=[];
				for(var i=firstmonth;i<=12;i++) {
					id=i.toString();
					text=id+"月";
					_json_month2.push({id:id,text:text});
				}
			}else if(firstyear<secyear){
				_json_month2=[];
				for(var i=1;i<=12;i++) {
					id=i.toString();
					text=id+"月";
					if(i<10){id='0'+id}
					_json_month2.push({id:id,text:text});
				}
			}
		}*!/
	}
	$("#togg").click(function(){
		$(this).find('i').toggleClass('nav62');
		var ss=$("#parent_tab").find('tr.pitchOn');
		ss.toggle();
		if($(this).find('i').attr('class')=="nav61"){
			$(this).attr('title','点击隐藏')
		}else{
			$(this).attr('title','点击展开')
		}
	})*/
		


//	var _json_month2=[]
	var currYear=new Date().getFullYear()
	$("input.last").val(currYear-1);
	$("input.currYear").val(currYear);
	//获取近四年的年份
	function getYears() {
		var nowDate = new Date();
		year_f = nowDate.getFullYear();
		year_last = year_f-1;
		var year_s = year_f - 3;
		_json_years=[];
		_json_years_2=[];
		_json_years_3=[];
		var id,text;
		for(var y=year_f;y>=year_s;y--) {
			id=y.toString();
			text=id;
			_json_years.push({id:id,text:text});
			_json_years_2.push({id:id,text:text});
			_json_years_3.push({id:id,text:text});
		}
	}
	getYears();
	console.log(_json_years,_json_years_2,_json_years_3,"得到近四年");
	function year_change(){
		var nowDate = new Date();
		var year_f = nowDate.getFullYear();
		var firstyear=T("#_year").val();
		var secyear=T("#_year2").val();
		if(secyear<firstyear){
			T("#year2").val(year_f);
			T("#_year2").val(year_f);
		}
		_json_years2=[];
		var id,text;
		for(var y=year_f;y>=firstyear;y--) {
			id=y.toString();
			text=id;
			_json_years2.push({id:id,text:text});
		}
		T('#_year2').dropdown();
	}
	year_change();
	T('#_year').dropdown({after:year_change});

	year_change_2();
	T('#_season_year').dropdown({after:year_change_2});
	T("#_season").dropdown({after:season_change});

	year_change_3();
	T('#_month_year').dropdown({after:year_change_3});
	T("#_month").dropdown({after:month_change});

	function year_change_2(){
		var nowDate = new Date();
		var year_f = nowDate.getFullYear();
		var firstyear=T("#_season_year").val();
		var secyear=T("#_season_year2").val();
		if(secyear<firstyear){
			T("#season_year2").val(year_f);
			T("#_season_year2").val(year_f);
		}
		_json_years2_2=[];
		var id,text;
		for(var y=year_f;y>=firstyear;y--) {
			id=y.toString();
			text=id;
			_json_years2_2.push({id:id,text:text});
		}
		//判断季度
		season_change();
		T("#_season2").dropdown();
		T('#_season_year2').dropdown({after:season_change});
	}

	function season_change(){
		var firstyear=parseInt(T("#_season_year").val());
		var secyear=parseInt(T("#_season_year2").val());
		if (firstyear==secyear){
			var firstseason=parseInt(T("#season").val());
			var secseason = parseInt(T("#season2").val());
			if(secseason<firstseason){
				T("#season2").val(firstseason);
			}
			_json_season2=[];
			for(var i=firstseason;i<=4;i++) {
				id=i.toString();
				text="第"+id+"季度";
				_json_season2.push({id:id,text:text});
			}
		}else if(firstyear<secyear){
			_json_season2=[];
			for(var i=1;i<=4;i++) {
				id=i.toString();
				text="第"+id+"季度";
				_json_season2.push({id:id,text:text});
			}
		}
		T("#_season2").dropdown();
	}


	function year_change_3(){
		var nowDate = new Date();
		var year_f = nowDate.getFullYear();
		var firstyear=T("#_month_year").val();
		var secyear=T("#_month_year2").val();
		if(secyear<firstyear){
			T("#month_year2").val(year_f);
		}
		_json_years2_3=[];
		var id,text;
		for(var y=year_f;y>=firstyear;y--) {
			id=y.toString();
			text=id;
			_json_years2_3.push({id:id,text:text});
		}
		//判断月份
		month_change();
		T("#_month2").dropdown();
		T("#_month_year2").dropdown({after:month_change});

	}

	function month_change(){
		var firstyear=parseInt(T("#_month_year").val());
		var secyear=parseInt(T("#_month_year2").val());
		if (firstyear==secyear){
			var firstmonth=parseInt(T("#month").val());
			var secmonth = parseInt(T("#month2").val());
			if(secmonth<firstmonth){
				T("#month2").val(firstmonth);
			}
			_json_month2=[];
			for(var i=firstmonth;i<=12;i++) {
				var id=i.toString();
				if(i<10){id='0'+id}
				var text=id+"月";
				_json_month2.push({id:id,text:text});

			}

		}else if(firstyear<secyear){
			_json_month2=[];
			for(var i=1;i<=12;i++) {
				var id=i.toString();
				if(i<10){id='0'+id}
				var text=id+"月";
				_json_month2.push({id:id,text:text});
			}
		}
		T("#_month2").dropdown();
	}

</script>
<div class="clr"></div>
</body>
</html>

