<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>质量控制清单</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="../../resources/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/lib/awe/awesome.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/images/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/images/style.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/myloading.css" />
	<style>
		td{text-align:center;}
		#table th{text-align:center;}
		td.optBtn {padding-left:10px;padding-right:0;text-align: left;}
		.optBtn button{margin-right:10px;}
		.search_inp{height: 22px; border: none;}
		.new-list{height:auto;text-align:center;font-size:15px;}
		.new-list>div{line-height:34px;}
		.new-list label {text-align: right;}
		.nopadding{padding:0};
	</style>
</head>
<body>
<div class="loading">
		<div class="sk-circle">
		  <div class="sk-circle1 sk-child"></div>
		  <div class="sk-circle2 sk-child"></div>
		  <div class="sk-circle3 sk-child"></div>
		  <div class="sk-circle4 sk-child"></div>
		  <div class="sk-circle5 sk-child"></div>
		  <div class="sk-circle6 sk-child"></div>
		  <div class="sk-circle7 sk-child"></div>
		  <div class="sk-circle8 sk-child"></div>
		  <div class="sk-circle9 sk-child"></div>
		  <div class="sk-circle10 sk-child"></div>
		  <div class="sk-circle11 sk-child"></div>
		  <div class="sk-circle12 sk-child"></div>
		</div>
</div>
<div class="mr15" id="body_main">
	<div class="cl_title">
		<span class="_title">质控报告清单</span>
	</div>
	<div style="margin:30px 4% 10px 0;" class="fr">
		<input type="text" id="search_text" class="txt_inp" value="" />
		<button id="search" class="btn btn-secondary"><i class="ico-search fa fa-search"></i> 搜索</button>
		<button  class="btn btn-green" id="addModel" style="margin-left: 50px;"><i class="fa fa-plus" ></i> 新建</button>
	</div>
	<div style="margin-left:50px" id="table">
		<table cellspacing="0" cellpadding="0" class="list1" style="width:96%;min-width: 775px">
			<tr>
				<th style="width:6%;text-align:center;">序号</th>
				<th style="width:8%;text-align:center;">保存时间</th>
				<th style="width:15%;text-align:center;">报告类型</th>
				<th style="width:auto;text-align:center;">报告名称</th>
				<th style="width:15%;text-align:center;">目录样式</th>
				<th style="width:8%;text-align:center;">创建时间</th>
				<th style="width:7%;text-align:center;">创建人</th>
				<th style="width:284px;text-align:center;">操作</th>
			</tr>
			<tbody id="table1"></tbody>
		</table>

	</div>
</div>
<!-- 新建模态框 -->
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	<div class="modal-dialog" style="width:500px;margin:100px auto;" >
		<div class="modal-content">
			<div class="modal-header">
				<span >新建</span>
				<button type="button" class="close" data-dismiss="modal">
					<span class="is_true" aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
			</div>
			<div class="modal-body new-list">
				<div class="row">
					<label  class="col-xs-3"  id="reportType">报告类型 </label>
					<div class="col-xs-9 nopadding" style="text-align: left">
						<label style="font-weight: normal;margin-right:48px;">
							<input class="report_type" type="radio" value="0" name="report" checked="checked">
							<span>报告模版</span>
						</label>
						<label style="font-weight: normal">
							<input class="report_type" type="radio" value="1"  name="report" >
							<span >报告</span>
						</label>
					</div>
				</div>
				<div class="row">
					<label class="col-xs-3 control-label"  for="names">报告名称</label>
					<div class="col-xs-9 nopadding" style="width:344px">
						<input type="text" class="txt_inp" style="width:344px" name="names" id="names"/>
					</div>
				</div>
				<div class="row">
					<label class="col-xs-3 control-label" for="des">目录样式</label>
					<div class="pr col-xs-9 nopadding" style="width:344px">
						<input type="hidden" class="ajax_txt" id="catalogs" name="catalogs" value=""/>
						<input type="text" class="txt_inp" id="catalogs_down" title="请选择目录样式"  autocomplete="off" data-to="catalogs" data-type="json" data-src="_json_catalogs_down" value="--请选择--" onkeydown="return false;" style="width:344px;"/>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="text-align: right">
				<button type="submit" class="btn btn-primary "id="is_add" >确定</button>
				<button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- alert_Del共用模态框 -->
<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog" style="width:300px;margin:65px auto;" >
		<div class="modal-content">
			<div class="modal-header" id="modal_title">
				<button type="button" class="close" data-dismiss="modal">
					<span class="is_true" aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>

			</div>
			<div class="modal-body">
				<div style="height:65px;text-align: center;font-size: 18px" id="txt_insert">
					<span >确定删除吗?</span>
				</div>
			</div>
			<div class="modal-footer" style="text-align:right;">
				<button type="button" class="btn btn-primary " data-dismiss="modal" id="is_true">确定</button>
				<button type="button" class="btn btn-default is_false" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../resources/js/tangram-min.js"></script>
<script type="text/javascript" src="../../resources/js/tangram-ext.js"></script>
<script type="text/javascript" src="../../resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../resources/lib/echarts/macarons.js"></script>
<script type="text/javascript" src="../../resources/js/baiduTemplate.js"></script>
<script type="text/javascript" src="../../resources/js/mchart.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.js"></script>
<script id="tpl11" type="text/template">
		[%	var j=1;
		for(var i in list){%]
		<tr>
			<td>[%=j%]</td>
			<td >[%=list[i].saveTime%]</td>
			<td >[%if(list[i].type=="0"){%][%='报告模版'%][%}else{%][%='报告'%][%}%]</td>
			<td >[%=list[i].name%]</td>
			<td>[%if(list[i].catStyle=="0"){%][%='目录1'%][%}else{%][%='目录2'%][%}%]</td>
			<td>[%=list[i].creatTime%]</td>
			<td>[%=list[i].creatPeople%]</td>
			<td class="optBtn">[%if(list[i].type=="0"){%]
				<button class="btn btn-primary edit"   data-echo="[%=list[i].model_id%]">编辑</button>
				<button class="btn btn-red delModel" >删除</button>
				<button class="btn btn-primary" >另存</button><!--<br>-->
				<button class="btn btn-primary" >保存为报告</button>
				[%}else{%]
				<button class="btn btn-primary browserRe"   data-echo="[%=list[i].report_id%]">浏览</button>
				<button class="btn btn-red delRe"  >删除</button>
				<button class="btn btn-primary exportRe" >导出</button>
				[%}%]
			</td>
		</tr>
		[%j++;}%]
</script>
<script>
	/* 设置主体内容最小高度 */
	var main_h=$('#mainframe', parent.document).height();
	var min_H=main_h-15;
	$("#body_main").css("min-height",min_H);
    var $name=$("#names"),
		$table1=$("#table1"),
        $des=$("#des"),
        $alertAdd=$("#modal_add"),
        $alertModal=$("#modal_delete"),
        $val=$("#val"),
    	$addBtn=$("#addModel");
		/*加载质控报告清单*/
		$.ajax({
			url:"../../resources/ajax/tree3.json",
			success:function (data) {
			    $(".loading").hide();
				$("#table1").html(baidu.template("tpl11",data));
			}
		});
	var _json_catalogs_down=[];
	$.ajax({
		url:"../../resources/ajax/catlog.json",
		success:function (data) {
			_json_catalogs_down=data;
			T("#catalogs_down").dropdown({width:"344",height:"260"});
		}
	});
	/*添加*/
    $addBtn.click(function (event) {
        $name.val(null);
        $des.val(null);
        $val.val(null);
        $alertAdd.modal("toggle");
    });
    $("#is_add").click(function () {
        var modelBtnArr='<td class="optBtn"> <button class="btn btn-primary "  >编辑</button><button class="btn btn-red delModel"  >删除</button> <button class="btn btn-primary"  >另存</button><button class="btn btn-primary"  >保存为报告</button> </td> ';
        var  reportBtnArr='<td class="optBtn"> <button class="btn btn-primary browserRe"  >浏览</button> <button class="btn btn-red delRe"  >删除</button> <button class="btn btn-primary exportRe" >导出</button> </td>';
//        var length=$table1.children().length+1,
		var length = parseInt($table1.children().last().children().first().html()) + 1;
			var docName= $name.val(),
			type=$("input:radio:checked").val(),
			time=new  Date(),
			vMon = time.getMonth() + 1,
			vDay = time.getDate(),
			saveTime= time.getFullYear() +"-"+ (vMon < 10 ? "0" + vMon : vMon) +"-"+ (vDay < 10 ? "0" + vDay : vDay),
			catalogueType=$("#catalogs_down").val(),
			creatTime=saveTime,
			creatPerson="王";
        var str='<tr> <td>'+length+'</td> <td>'+saveTime+'</td> <td >'+type+'</td> <td >'+docName+'</td> <td >'+catalogueType+'</td> <td >'+creatTime+'</td> <td>'+creatPerson+'</td>'+(type=="报告"?reportBtnArr:modelBtnArr)+'</tr>';
        $table1.append(str);
		$alertAdd.modal("hide");
    });
</script>
<script>
	/*报告操作*/
	$("#table1").on("click","button",function () {
        var id=this.getAttribute("data-echo");
	    switch (this.innerText){
			case "浏览":
			    window.parent.frames[0].location.href="report.html?edit="+id+"&report";
			    break;
            case "删除":
                var self=$(this);
                $alertModal.modal("toggle");
				$("#is_true").unbind();
                $("#is_true").click(function () {
                    self.parent().parent().remove();
                });
                break;
            case "导出":
                break;
            case "编辑":
                window.parent.frames[0].location.href="report.html?edit="+id;
                break;
            case "另存":
                break;
            case "保存为报告":
                break;

		}
    });
</script>
</body>
</html>
