<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>质量控制清单</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../../resources/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/lib/awe/awesome.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/images/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/images/style.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/myloading.css" />
	<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" />
	<style>
		#table1 tr th{padding: 8px 5px;text-align:center;}
		#table1 tr td{padding: 8px 5px;text-align:center;}
		.optBtn button{padding:0 8px;height:26px;margin-right:10px;}
		form{width:100%;}
		.bv-form .help-block{margin-bottom:0}
		.bv-form .tooltip-inner{text-align:left}
		.nav-tabs li.bv-tab-success>a{color:#3c763d}
		.nav-tabs li.bv-tab-error>a{color:#a94442}
		#search_text{height: 30px; border-radius:6px;}
	</style>
	
</head>
<body>
<div class="loading">
		<div class="sk-circle">
		  <div class="sk-circle1 sk-child"></div>
		  <div class="sk-circle2 sk-child"></div>
		  <div class="sk-circle3 sk-child"></div>
		  <div class="sk-circle4 sk-child"></div>
		  <div class="sk-circle5 sk-child"></div>
		  <div class="sk-circle6 sk-child"></div>
		  <div class="sk-circle7 sk-child"></div>
		  <div class="sk-circle8 sk-child"></div>
		  <div class="sk-circle9 sk-child"></div>
		  <div class="sk-circle10 sk-child"></div>
		  <div class="sk-circle11 sk-child"></div>
		  <div class="sk-circle12 sk-child"></div>
		</div>
</div>
<div class="mr15">
    <div style="width:100%;margin-top:5px;height:35px;z-index:9999;">
       	<span class="tab_title">质控报告清单</span>
		<hr style="background-color:#DBDBDB;height:2px;border:none;margin-top:10px;">
    </div>
	<div style="margin:50px 4% 10px 0;" class="fr">
		<input type="text" id="search_text"  value="" />
		<button id="search" class="btn btn-secondary"><i class="ico-search fa fa-search"></i> 搜索</button>
		<button  class="btn btn-green" id="addModel" style="margin-left: 50px;"><i class="fa fa-plus" ></i> 新建</button>
	</div>
	<div style="margin-left:50px" id="table">
		<table cellspacing="0" cellpadding="0" class="list1" style="width:96%;min-width: 775px">
			<tr>
				<th style="width:6%;text-align:center;">序号</th>
				<th style="width:8%;text-align:center;">保存时间</th>
				<th style="width:15%;text-align:center;">报告类型</th>
				<th style="width:auto;text-align:center;">报告名称</th>
				<th style="width:15%;text-align:center;">目录样式</th>
				<th style="width:8%;text-align:center;">创建时间</th>
				<th style="width:7%;text-align:center;">创建人</th>
				<th style="width:280px;text-align:center;">操作</th>
			</tr>
			<tbody id="table1"></tbody>
		</table>

	</div>
</div>
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	<div class="modal-dialog" style="width:500px;margin:100px auto;" >
		<div class="modal-content">
			<div class="modal-header">
				<span >新建</span>
				<button type="button" class="close" data-dismiss="modal">
					<span class="is_true" aria-hidden="true" style="position:relative;top:-8px;font-size:25px;">&times;</span><span class="sr-only">Close</span>
				</button>
			</div>
			<div class="modal-body">
				<div style="height:auto;text-align: center;font-size: 18px" >
					<form id="defaultForm" method="post" class="form-horizontal" action="">
						<div class="form-group">
								<div  class="col-xs-3" style="font-weight:bolder;" id="reportType">报告类型 </div>
								<label style="font-weight: normal;margin-right:48px;">
									<input class="" type="radio" value="报告模版" name="report" checked="">
									<span>报告模版</span>
								</label>
								<label style="font-weight: normal;margin-right:48px;">
									<input class="" type="radio" value="报告"  name="report" checked="checked">
									<span >报告</span>
								</label>

						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="names">报告名称</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" name="names" id="names"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label" for="des">目录样式</label>
							<div class="col-xs-9">
								<select  class="form-control" name="des"  />
								<option value="目录样式1" selected="selected">目录样式1</option>
								<option value="目录样式2">目录样式2</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label" for="val">创建人</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" name="val" id="val"/>
							</div>
						</div>

						<div class="form-group " >
							<div class="col-xs-8">
								<button type="submit" class="btn btn-primary " data-dismiss="modal" id="is_add" >确定</button>
							</div>
							<div class="col-xs-4">
								<button type="button" class="btn btn-primary " data-dismiss="modal">取消</button>
							</div>
						</div>
					</form>

				</div>
			</div>
			<div class="modal-footer" style="text-align:center;">
			</div>
		</div>
	</div>
</div>
<!-- alert_Del共用模态框 -->
<div class="modal fade" id="modal_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog" style="width:300px;margin:65px auto;" >
		<div class="modal-content">
			<div class="modal-header" id="modal_title">
				<button type="button" class="close" data-dismiss="modal">
					<span class="is_true" aria-hidden="true" style="position:relative;top:-8px;font-size:25px;">&times;</span><span class="sr-only">Close</span>
				</button>

			</div>
			<div class="modal-body">
				<div style="height:65px;text-align: center;font-size: 18px" id="txt_insert">
					<span >确定删除吗?</span>
				</div>
			</div>
			<div class="modal-footer" style="text-align:center;">
				<button type="button" class="btn btn-primary " data-dismiss="modal" id="is_true">确定</button>
				<button type="button" class="btn btn-primary is_false" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 预览模态框 -->
<div class="modal fade" id="modal_pre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog" style="width:300px;margin:65px auto;" >
		<div class="modal-content">
			<div class="modal-header" >
				<span>预览</span>
				<button type="button" class="close" data-dismiss="modal">
					<span class="is_true" aria-hidden="true" style="position:relative;top:-8px;font-size:25px;">&times;</span><span class="sr-only">Close</span>
				</button>
			</div>
			<div class="modal-body">

			</div>
			</div>
			<div class="modal-footer" style="text-align:center;"></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../resources/js/tangram-min.js"></script>
<script type="text/javascript" src="../../resources/js/tangram-ext.js"></script>
<script type="text/javascript" src="../../resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../resources/lib/echarts/macarons.js"></script>
<script type="text/javascript" src="../../resources/js/baiduTemplate.js"></script>
<script type="text/javascript" src="../../resources/js/mchart.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.js"></script>
<script id="tpl11" type="text/template">
		[%	var j=1;
		for(var i in list){%]
		<tr>
			<td>[%=j%]</td>
			<td >[%=list[i].saveTime%]</td>
			<td >[%if(list[i].type=="0"){%][%='报告模版'%][%}else{%][%='报告'%][%}%]</td>
			<td >[%=list[i].name%]</td>
			<td>[%if(list[i].catStyle=="0"){%][%='目录1'%][%}else{%][%='目录2'%][%}%]</td>
			<td>[%=list[i].creatTime%]</td>
			<td>[%=list[i].creatPeople%]</td>
			<td class="optBtn">[%if(list[i].type=="0"){%]
				<button class="btn btn-primary edit"   data-echo="[%=list[i].model_id%]">编辑</button>
				<button class="btn btn-red delModel" >删除</button>
				<button class="btn btn-primary" >另存</button><!--<br>-->
				<button class="btn btn-primary" >保存为报告</button>
				[%}else{%]
				<button class="btn btn-primary browserRe"   data-echo="[%=list[i].report_id%]">浏览</button>
				<button class="btn btn-red delRe"  >删除</button>
				<button class="btn btn-primary exportRe" >导出</button>
				[%}%]
			</td>
		</tr>
		[%j++;}%]
</script>
<script>
    var $name=$("#names"),
		$table1=$("#table1"),
        $des=$("#des"),
        $alertAdd=$("#modal_add"),
        $alertModal=$("#modal_alert"),
        $val=$("#val"),
    	$addBtn=$("#addModel");
    var selecte=document.getElementsByName("des");
		/*加载质控报告清单*/
		$.ajax({
			url:"../../resources/ajax/tree3.json",
			success:function (data) {
			    $(".loading").hide();
				$("#table1").html(baidu.template("tpl11",data));
			}
		});
	/*添加*/
    $addBtn.click(function (event) {
        $name.val(null);
        $des.val(null);
        $val.val(null);
        $alertAdd.modal("toggle");
    });
    $("#is_add").click(function () {
        var modelBtnArr='<td class="modelOptBtn"> <button class="btn btn-primary "  style="padding:0 8px;height:26px;margin-right:10px;">编辑</button><button class="btn btn-red delModel"  style="padding:0 8px;height:26px;margin-right:10px;">删除</button> <button class="btn btn-primary"  style="padding:0 8px;height:26px;">另存</button><button class="btn btn-primary"  style="margin-left:5px;padding:0 8px;height:26px;">保存为报告</button> </td> ';
        var  reportBtnArr='<td style="text-align:center;width: 300px" class="optBtn"> <button class="btn btn-primary browserRe"  style="padding:0 8px;height:26px;margin-right:10px;">浏览</button> <button class="btn btn-red delRe"  style="padding:0 8px;height:26px;margin-right:10px;">删除</button> <button class="btn btn-primary exportRe"  style="padding:0 8px;height:26px;">导出</button> </td>';
//        var length=$table1.children().length+1,
		var length = parseInt($table1.children().last().children().first().html()) + 1;
			var docName= $name.val(),
			type=$("input:radio:checked").val(),
			time=new  Date(),
			vMon = time.getMonth() + 1,
			vDay = time.getDate(),
			saveTime= time.getFullYear() +"-"+ (vMon < 10 ? "0" + vMon : vMon) +"-"+ (vDay < 10 ? "0" + vDay : vDay),
			catalogueType=$(selecte).val(),
			creatTime=saveTime,
			creatPerson=$("#val").val();
        var str='<tr> <td>'+length+'</td> <td>'+saveTime+'</td> <td >'+type+'</td> <td >'+docName+'</td> <td >'+catalogueType+'</td> <td >'+creatTime+'</td> <td>'+creatPerson+'</td>'+(type=="报告"?reportBtnArr:modelBtnArr)+'</tr>';
        $table1.append(str);
    });
</script>
<script>
	/*报告操作*/
	$("#table1").on("click","button",function () {
        var id=this.getAttribute("data-echo");
	    switch (this.innerText){
			case "浏览":
			    window.parent.frames[0].location.href="report.html?edit="+id+"&report";
			    break;
            case "删除":
                var self=$(this);
                $alertModal.modal("toggle");
                $("#is_true").click(function () {
                    self.parent().parent().remove();
                });
                break;
            case "导出":
                break;
            case "编辑":
                window.parent.frames[0].location.href="report.html?edit="+id;
                break;
            case "另存":
                break;
            case "保存为报告":
                break;

		}
    });
</script>
<div class="clr"></div>
</body>
</html>
