<!DOCTYPE html>
<html>
<head>
    <title>模版变量</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" href="../../resources/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/lib/awe/awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/images/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/myloading.css"/>
    <style>
        td {text-align: center;}
        th{text-align: center !important;}
        .optBtn button{margin-right:10px;}
        .new-list{height:auto;text-align:center;font-size:16px;}
        .new-list>div{line-height: 34px;}
        .new-list label{text-align:right;}
    </style>
</head>
<body>
<!--<div class="loading">
		<div class="sk-circle">
		  <div class="sk-circle1 sk-child"></div>
		  <div class="sk-circle2 sk-child"></div>
		  <div class="sk-circle3 sk-child"></div>
		  <div class="sk-circle4 sk-child"></div>
		  <div class="sk-circle5 sk-child"></div>
		  <div class="sk-circle6 sk-child"></div>
		  <div class="sk-circle7 sk-child"></div>
		  <div class="sk-circle8 sk-child"></div>
		  <div class="sk-circle9 sk-child"></div>
		  <div class="sk-circle10 sk-child"></div>
		  <div class="sk-circle11 sk-child"></div>
		  <div class="sk-circle12 sk-child"></div>
		</div>
	</div>-->
<div class="loading" >
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<div class="mr15" id="body_main">
    <div class="cl_title">
        <span class="_title">模版变量</span>
    </div>
    <div class="pa15">
        <div style="margin:50px 10% 10px 0;" class="fr">
            <button class="btn btn-green" id="addModel"><i class="fa fa-plus"></i> 新建</button>
        </div>
        <div style="margin-left:50px" id="table">
            <table  class="list1" style="width:90%;min-width: 420px">
                <tr>
                    <th style="width:5%;">序号</th>
                    <th style="width:auto;">名称</th>
                    <th style="width:25%;">描述</th>
                    <th style="width:14%;">值</th>
                    <th style="width:130px;">操作</th>
                </tr>
                <tbody id="table1"></tbody>
            </table>
        </div>
    </div>
</div>
<!-- alert_Del共用模态框 -->
<div class="modal fade" id="modal_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="false">
    <div class="modal-dialog" style="width:300px;margin:65px auto;">
        <div class="modal-content">
            <div class="modal-header" id="modal_title">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="is_true" aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body">
                <div style="height:65px;text-align: center;font-size: 18px" id="txt_insert">
                    <span>确定删除吗?</span>
                </div>
            </div>
            <div class="modal-footer" style="text-align:right;">
                <button type="button" class="btn btn-primary " data-dismiss="modal" id="is_true">确定</button>
                <button type="button" class="btn btn-default is_false" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- alert_New模态框 -->
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="false">
    <div class="modal-dialog" style="width:400px;margin:100px auto;">
        <div class="modal-content">
            <div class="modal-header">
                <span class="add_title">新建</span>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="is_true" aria-hidden="true" >&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body new-list" style="height:auto;text-align: center;font-size: 16px">
                <div class="row">
                    <label class="col-xs-2 " for="names">名称</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="names" id="names"/>
                    </div>
                </div>

                <div class="row">
                    <label class="col-xs-2 " for="des">描述</label>
                    <div class="col-xs-10">
                        <input type="text"  class="form-control" name="des" id="des"/>
                    </div>
                </div>

                <div class="row">
                    <label class="col-xs-2 " for="val">值</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="val" id="val"/>
                    </div>
                </div>


            </div>
            <div class="modal-footer" style="text-align:right;padding-right: 30px">
                <div class="row ">
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-primary " data-dismiss="modal" id="is_add" >确定</button>
                    </div>
                    <div class="col-xs-10" style="display: none">
                        <button type="submit" class="btn btn-primary " data-dismiss="modal" id="is_modification">修改
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../resources/js/tangram-min.js"></script>
<script type="text/javascript" src="../../resources/js/tangram-ext.js"></script>
<script type="text/javascript" src="../../resources/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.js"></script>
<script type="text/javascript" src="../../resources/js/baiduTemplate.js"></script>
<script id="tpl1" type="text/template">
    [%	var j=1;
    for(var i in list){%]
    <tr>
        <td>[%=j%]</td>
        <td >[%=list[i].name%]</td>
        <td >[%=list[i].des%]</td>
        <td >[%=list[i].val%]</td>
        <td class="optBtn">
            <button class="btn btn-primary modification" > 修改</button>
            <button class="btn btn-red del" >删除</button>
        </td>
    </tr>
    [%j++;}%]
</script>
<script type="text/javascript">
    /* 设置主体内容最小高度 */
    var main_h=$('#mainframe', parent.document).height();
    var min_H=main_h-15;
    $("#body_main").css("min-height",min_H);

    var $alertModal = $("#modal_alert"),
            $alertAdd = $("#modal_add"),
            $addBtn = $("#addModel"),
            $table1 = $("#table1"),
            $name = $("#names"),
            $des = $("#des"),
            $val = $("#val");
    /* 获取数据 */
    T.getJson("../../resources/ajax/var.json", function(data) {
        console.table(data);
        $(".loading").hide();
        $("#table1").html(baidu.template("tpl1",data));
    })
    /*删除*/
    $table1.on("click", ".del", function () {
        var self = $(this);
        $alertModal.modal("toggle");
        $("#is_true").unbind();
        $("#is_true").click(function () {
            self.parent().parent().remove();
        })

    });
    /*添加*/
    $addBtn.click(function (event) {
        $(".add_title").html("新建");
        $name.parent().parent().show();
        $("#is_modification").parent().css("display", "none");
        $("#is_add").parent().css("display", "block");
        $name.val(null);
        $des.val(null);
        $val.val(null);
        $alertAdd.modal("toggle");
    });
    $("#is_add").click(function () {
        var length = parseInt($table1.children().last().children().first().html()) + 1,
                nameVal = $name.val(),
                des = $des.val(),
                val = $val.val();
        var str = '<tr> <td>' + length + '</td> <td >' + nameVal + '</td> <td>' + des + '</td> <td>' + val + '</td> <td><button class="btn btn-primary modification"  style="padding:0 8px;height:26px;margin-right:10px;">修改</button> <button class="btn btn-red del" style="padding:0 8px;height:26px;margin-right:10px;">删除</button></td> </tr>';
        $table1.append(str);
    });
    /*修改*/
    $table1.on("click", ".modification", function (event) {
        var self = $(this);
        $(".add_title").html("修改");
        $name.parent().parent().hide();
        $("#is_modification").parent().css("display", "block");
        $("#is_add").parent().css("display", "none");
        var tdArr = self.parent().siblings(),
                nameVal = tdArr.eq(1),
                des = tdArr.eq(2),
                val = tdArr.eq(3);
        $name.val(nameVal.html());
        $des.val(des.html());
        $val.val(val.html());
        $alertAdd.modal("toggle");
        $("#is_modification").unbind();
        $("#is_modification").click(function () {
            nameVal.html($name.val());
            des.html($des.val());
            val.html($val.val());
        })
    });
</script>
</body>
</html>
