<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .p{
            color: red;
        }
    </style>
</head>
<body>
<span  class="p">fsdfsdafs</span>
<span>
    _arr[0] = {};
    _arr[0].text = _json.text;
    _arr[0].id = _json.id;
    _arr[0].order = _json.order;
    _arr[0].children = [];
</span>


<script>


</script>
</body>
</html>